In [2]:
x=["apple","banana","cherry","pienapple","mango"]
for i in x:
    if i=="cherry":
        break
    print(i)

apple
banana

In [3]:
x=["apple","banana","cherry","kiwi","mango","peinapple","adnan","moin","akbar"]
for i in x:
    if i=="kiwi":
        continue
    print(i)

apple
banana
cherry
mango
peinapple
adnan
moin
akbar

In [31]:
for i in range(2,7,2):
    print(i)
else:
    print("finished item")

2
4
6
finished item

In [42]:
for i in range(1,8,2):
    if i ==5: continue
    print(i)

1
3
7

# the break statement

In [14]:
x=["apple","banana","cherry","kiwi","mango","peinapple","adnan","moin","akbar"]
for i in x:
    if i=="mango":
        continue
    print(i)

apple
banana
cherry
kiwi
peinapple
adnan
moin
akbar

In [4]:
x=["apple","banana","cherry","kiwi"]
for x in range(len(x)):
    if x=="cherry":
        break
    print(x)

0
1
2
3

In [48]:
x=[1,2,3,4,5]
y=["a","b","c","d","e","f"]
for i in x:
    for p in y:
        print(i,p)

1 a
1 b
1 c
1 d
1 e
1 f
2 a
2 b
2 c
2 d
2 e
2 f
3 a
3 b
3 c
3 d
3 e
3 f
4 a
4 b
4 c
4 d
4 e
4 f
5 a
5 b
5 c
5 d
5 e
5 f

In [7]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end='')
    print('  ')

*
**
***
****
*****

In [61]:
i=0 # initialise value
while i < 3:
    i=i+1 
    print("adnan")

adnan
adnan
adnan

In [63]:
i=1
while i <=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(6):
    for i in range(i+1):
        print(1,end='')
    print('')

In [4]:
t=(1,2,3,4)
x=list(t)
x.append(5)
y=tuple(x)
print(y)

(1, 2, 3, 4, 5)

In [9]:
snow=input("do you like snow days?")
if snow == "yes":
    print("we all love snow days")
if snow == "no":
    print("i hate shovelling snow")

do you like snow days?no
i hate shovelling snow

In [6]:
partner=int(input())
if partner >0:
    print("if true print positive.")
if partner <=-1:
    print("if true print negative.")
if partner ==0:
    print("if true print the number 0")
if partner ==13:
    print("if true print the number 13")
if partner ==-3:
    print("if true print the number -3")

-3
if true print negative.
if true print the number -3

In [15]:
user=str(input())
if user == "Toms River":
    print("town lakehurst")
else:
    print("sorry user not found")

2
sorry user not found

In [5]:
akbar=float(input())
if akbar <1:
    print("i think this is a good price")
if akbar >1:
    print("i think this is expensive price")

0.5
i think this is a good price

In [6]:
roblox=str(input("do you went to play roblox"))
if roblox == "yes":
    print("this is right choice.")
if roblox == "no":
    print("Mr Chengâ€™s daughter will be very disappointed")

do you went to play robloxyes
this is right choice.

In [1]:
thislist=["apple","bnanan","cherry"]
thislist[0:1]=["a","b","c"]
print(thislist)

['a', 'b', 'c', 'bnanan', 'cherry']

In [ ]:
i = 0
while i < 6:
    if i == 3:
        break
    print(i)
    i=i+1

In [2]:
i = 0
while i < 6:
    i=i+1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [6]:
for i in range(0,6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

In [2]:
i=int(input())
while i>0:
    if i%2==0:
        print("even")
    else:
        print("odd")
    i=i-i

9
odd

In [1]:
a=["cheweery","jhdgcj",1,23]
del a
print(a)

NameError: name 'a' is not defined

In [3]:
a=[1,2,3,4]
del a[1]
print(a)

[1, 3, 4]

In [1]:
thislist=[1,2,3]
thislist.extend([4,5,6])
print(thislist)

[1, 2, 3, 4, 5, 6]

In [9]:
x="hello world"
a=x[2:-10:1]
print(a)

In [8]:
user=int(input())
if user%2==0:
    print(user,"even number")
else:
    print(user,"odd")

3
3 odd

In [8]:
for l in "apple":
    if l=='m':
        pass
    print(l)

a
p
p
l
e

In [31]:
a=1
x=0
b=-5
if  a>0:
    if b<0:
        x=x+5
    elif a>5:
        x=x+4
    else:
        x=x+3    
else:
    x=x+2

5

In [33]:
number=[20,50]
items=["mango","apple"]
for x in number:
    for a in items:
        print(x,a)

20 mango
20 apple
50 mango
50 apple

In [41]:
a = [3,46,8,9]
b=["a","b"]
for i in a:
    for v in b:
        print(i,v)

3 a
3 b
46 a
46 b
8 a
8 b
9 a
9 b

In [138]:
var = 75
for i in range(11):
    for j in range(3, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    print(var)

75
75
75
75
75
75
75
75
75
75
75

In [245]:
x = 0
for i in range(10):
    for j in range(-1, -10, -1):
        x += 1
    print(j)

-9
-9
-9
-9
-9
-9
-9
-9
-9
-9

In [157]:
var = 20
for i in range(10):
    
    var+=1
print(var)

30

In [11]:
for i in range(1,7,1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [181]:
for num in range(10, 15):
    if num==13:
        continue
    print(num)

10
11
12
14

In [19]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [241]:
l=[1,5,12,102]
x=len(l)
for i in range(x):
    print(l[i]*l[i])
    # i= index value of l
    # l is the lenth of the list

1
25
144
10404

In [230]:
x="abcd"
l=len(x)
for i in range(l):
    print(x)

abcd
abcd
abcd
abcd

In [22]:
for i in range(5,0,-1):
    for j in range(i):
        print(j+1,end=' ')
    print('  ')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [258]:
s=0
n=int(input())
for i in range(1,i+1,1):
    s=s+i
    print(s," ")

55
1
3
6
10
15
21
28
36
45
55

In [264]:
n=2
for i in range(1,11):
    s=n*i
    print(s)

2
4
6
8
10
12
14
16
18
20

In [319]:
number=[12,75,150,180,145,525,50]
for i in number:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i%5==0:
        print(i)

75
150
145

In [24]:

for i in range(1,6):#6
    for j in range(i):
        print(j+1,end=' ')
    print(' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [26]:
for i in range(1,6):
    for j in range(i,6):
        print(j-i+1,end=' ')
    print(' ')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [321]:
x=[10,20,30,40,50]
y=reversed(x)
for i in y:
    print(i)

50
40
30
20
10

In [326]:
x=[-1,-2,-3,-4,-5,-6,-7,-8,-9,-10]
y=reversed(x)
for i in y :
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [338]:
x=1
y=10
print("prime number",x, "and", y, "are:")
for num in range(x,y+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                 break
        else:
            
            print(num)

prime number 1 and 10 are:
2
3
5
7

In [344]:
n=6
for i in range(1,n+1):
    for j in range(i,1,-1):
        print("*",end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *

In [39]:
k=5
for i in range(1,6):
    for j in range(k-i,-1,-1):
        print("*",end=' ')
    print(' ')

* * * * *
* * * *
* * *
* *
*

In [29]:
for i in range(1,6):
    for j in range(i,6):
        print(j-i+1,end=' ')
    print(' ')

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [419]:
num1,num2=0,1
print("fibonacci sequence")
for i in range(10):
    print(num1,end=' ')
    res=num1+num2
    # update the value
    num1=num2
    num2=res

fibonacci sequence
0 1 1 2 3 5 8 13 21 34

In [32]:
for i in range(1,6):
    k=ord("A")
    for j in range(i):
        print(chr(k),end=" ")
        k=k+1
    print(' ')

A
A B
A B C
A B C D
A B C D E

In [604]:
n=6
k=ord("A")
for i in range(1,n):
    for j in range(i):
        print(chr(k),end=" ")
        k=k+1
    print(' ')

A
B C
D E F
G H I J
K L M N O

In [605]:
for i in range(1,6):
    for j in range(i):
        print('*',end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *

In [23]:
with open('Chemistry.txt','r') as f:
    f_contents=f.read()
    print(f_contents)

Some Basic Concepts Of Chemistry
Structure Of Atom
Classification Of Elements And Periodicity In Properties
Chemical Bonding And Molecular Structure
States Of Matter
Thermodynamics
Equilibrium
Redox Reactions
Hydrogen
The S Block Elements
The P Block Elements
Organic Chemistry
Hydrocarbons
Environmental Chemistry
The Solid State
Solutions
Electrochemistry
Chemical Kinetics
Surface Chemistry
General Principles And Processes Of Isolation Of Elements
The D And F Block Elements
Coordination Compounds
Haloalkanes And Haloarenes
Alcohols Phenols And Ethers
Aldehydes Ketones And Carboxylic Acids
Amines
Biomolecules
Polymers
Chemistry In Everyday Life

In [2]:
f = open('Chemistry.txt', 'r')
text=f.read()
f.close()
f=open('output.txt','w')
text2=' '
if ' ' in text:
    text2=text.replace(' ','_')
    print(text2)
    f.write(text2)
f.close()

Some_Basic_Concepts_Of_Chemistry
Structure_Of_Atom
Classification_Of_Elements_And_Periodicity_In_Properties
Chemical_Bonding_And_Molecular_Structure
States_Of_Matter
Thermodynamics
Equilibrium
Redox_Reactions
Hydrogen
The_S_Block_Elements
The_P_Block_Elements
Organic_Chemistry
Hydrocarbons
Environmental_Chemistry
The_Solid_State
Solutions
Electrochemistry
Chemical_Kinetics
Surface_Chemistry
General_Principles_And_Processes_Of_Isolation_Of_Elements
The_D_And_F_Block_Elements
Coordination_Compounds
Haloalkanes_And_Haloarenes
Alcohols_Phenols_And_Ethers
Aldehydes_Ketones_And_Carboxylic_Acids
Amines
Biomolecules
Polymers
Chemistry_In_Everyday_Life

In [13]:
f=open("Chemistry.txt","r")
print(f.read())
count=0
f=open("Chemistry.txt","r")
for i in f:
    b=i.replace(" ","_").strip()
    count+=1
    print(b,'=',count)

Some Basic Concepts Of Chemistry
Structure Of Atom
Classification Of Elements And Periodicity In Properties
Chemical Bonding And Molecular Structure
States Of Matter
Thermodynamics
Equilibrium
Redox Reactions
Hydrogen
The S Block Elements
The P Block Elements
Organic Chemistry
Hydrocarbons
Environmental Chemistry
The Solid State
Solutions
Electrochemistry
Chemical Kinetics
Surface Chemistry
General Principles And Processes Of Isolation Of Elements
The D And F Block Elements
Coordination Compounds
Haloalkanes And Haloarenes
Alcohols Phenols And Ethers
Aldehydes Ketones And Carboxylic Acids
Amines
Biomolecules
Polymers
Chemistry In Everyday Life
Some_Basic_Concepts_Of_Chemistry = 1
Structure_Of_Atom = 2
Classification_Of_Elements_And_Periodicity_In_Properties = 3
Chemical_Bonding_And_Molecular_Structure = 4
States_Of_Matter = 5
Thermodynamics = 6
Equilibrium = 7
Redox_Reactions = 8
Hydrogen = 9
The_S_Block_Elements = 10
The_P_Block_Elements = 11
Organic_Chemistry = 12
Hydrocarbons = 13
Environmental_Chemistry = 14
The_Solid_State = 15
Solutions = 16
Electrochemistry = 17
Chemical_Kinetics = 18
Surface_Chemistry = 19
General_Principles_And_Processes_Of_Isolation_Of_Elements = 20
The_D_And_F_Block_Elements = 21
Coordination_Compounds = 22
Haloalkanes_And_Haloarenes = 23
Alcohols_Phenols_And_Ethers = 24
Aldehydes_Ketones_And_Carboxylic_Acids = 25
Amines = 26
Biomolecules = 27
Polymers = 28
Chemistry_In_Everyday_Life = 29

KeyError: ('name', 'adnan')

In [4]:
a={1:2,2:1}
a.get(2)
print(a)

{1: 2, 2: 1}