In [6]:
def my_function(lname,fname):
    print(lname,fname)
my_function("Adnan","Shaikh")

Adnan Shaikh

In [23]:
def my_function(*fname):
    print(fname[0])
    print(fname[1])       
my_function("shaikh","adnan")

shaikh
adnan

In [13]:
def my_function(name,course_name):
    print("hello",name,"your course name",course_name)
my_function("adnan","python")

hello adnan your course name python

In [1]:
def calculator(a,b):
    add=a+b
    return add
var=calculator(20,10)
print("addition:",var)

addition: 30

In [14]:
def calculator(a,b):
    var=a+b
    return var
f=calculator(int(input()),int(input()))
print(f)

10
20
30

In [1]:
def my_function():
    a=10
    b=5
    c=a+b
    return c
var=my_function()
print(var)

15

In [20]:
def add():
    a=int(input("Enter your number"))
    b=int(input("Enter your second number"))
    c=a+b
    print("addtion:",c)
add()

Enter your number20
Enter your second number2
addtion: 22

In [21]:
add()

Enter your number202
Enter your second number1
addtion: 203

In [1]:
add()

NameError: name 'add' is not defined

In [16]:
def sum(n):
    if n==1:
        return 1
    else:
        return(n+sum(n-1))
n=int(input())
z=sum(n)
print(z)

6
21

In [17]:
def fun():
    def function():
        print("adnan")
    function()
    print("shaikh")
fun()

adnan
shaikh

In [18]:
def function(name,age):
    print(name,age)
function("adnan","22")

adnan 22

In [86]:
def func(a,b):
    add =a+b
    sub = a-b
    multi = a*b
    div = a/b
    return add,sub,multi,div
res = func(10,6)
print(res)

(16, 4, 60, 1.6666666666666667)

In [96]:
add()

Enter your number202
Enter your second number120
addtion: 322

In [45]:
add()

Enter your number20
Enter your second number1201
addtion: 1221

In [3]:
def outer_fun(a,b):
    square=a**2
    def addition(a,b):
        return a+b
    add=addition(a,b)
    return add + 5
result=outer_fun(5,10)
print(result)

20

In [4]:
def f(sum):
    if sum:
        return sum+ f(sum-1)
    else:
        return 0
var=f(10)
print(var)

55

In [9]:
def function(name,salary=9000):
    print("name:",name,"salary:",salary)
    
function("adnan",12000)
function("akbar")

name: adnan salary: 12000
name: akbar salary: 9000

In [49]:
print(tuple(range(1,30,2)))

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29)

In [6]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c ** d
    return inner_fun(a, b)

res = outer_fun(5, 10)
print(res)

9765625

In [31]:
res=outer_fun(20,5)
print(res)

100

In [32]:
res=outer_fun(2,2)
print(res)

4

In [32]:
def f(*kid):
    print("name","adnan","age","22")
f()

name adnan age 22

In [1]:
def recursion(n):
    if n==1:
        return 1
    else:
        return n+recursion(n-1)
n=int(input())
var=recursion(n)
print(var)

5
15

In [7]:
def even(n):
    if n%2==0:
        print("even number")
    else:
        print("odd number")
n=int(input())
var=even(n)

10
even number

In [23]:
def function(a,b):
    var=a+b
    print(var) 
function(10,5)

15

In [ ]:
def function(n):
    if n==1:
        return 1
    return function+n(n-1)

In [8]:
lst=[1,2,3,4,4,5]
lst2=[i for i in lst if i%2==0]
print(lst2)

[2, 4, 4]

In [37]:
list1=[1,2,3,4]
list2=[5,6,7,8]
for i in list1:
    for j in list2:
        n=i+j
    print(n)

9
10
11
12

In [4]:
def factorial(x,y):
    """This function returns the factorial of a given number."""
    return x,y

# access doc string
print(factorial.__doc__)

This function returns the factorial of a given number.

In [5]:
def add(num1,num2):
    add=num1+num2
    sub=num1-num2
    mul=num1*num2
    div=num1/num2
    return add ,sub,mul,div
var=fun(10,5)
print(var)

(15, 5, 50, 2.0)

In [13]:
def outer_func():
    x = 777
    def inner_func():
        # local variable now acts as global variable
        nonlocal x
        x = 700
        print("value of x inside inner function is :", x)

    inner_func()
    print("value of x inside outer function is :", x)

outer_func()

value of x inside inner function is : 700
value of x inside outer function is : 700

In [12]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
print("factorial of a number is:", factorial(3))

factorial of a number is: 6

In [45]:
def display_person(**args):
    for i in args:
        print(i)
display_person(n="Emma", a="25",m="akbar",e="moin")

n
a
m
e

In [46]:
def fun(*data):
    for i in data:
        print(i)
fun(25,75,55)
fun(10,20)

25
75
55
10
20

In [50]:
def fun1(name, age):
    print(name, age)

fun1('Emma', 25)

Emma 25

In [57]:
def number(*a):
    for i in a:
        print(i)
number(20,40,60)
number(80,100)

20
40
60
80
100

In [50]:
add()

Enter your number5
Enter your second number5
addtion: 10

In [61]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

15

In [73]:
def function(n):
    if n==1:
        return 1
    else:
        return n*functions(n-1)
var=function(5)
print(var)

120

In [39]:
l1=[i for i in range(0,11,2)]
print(l1)

[0, 2, 4, 6, 8, 10]

In [41]:
l2=[n+1 for n in l1]
print(l2)

[1, 3, 5, 7, 9, 11]

In [13]:
l={"adnan","akbar","shoaib"}
l.add(3)
print(l)

{3, 'shoaib', 'akbar', 'adnan'}