# operater keyword (and,or ,not,in ,is)

In [26]:
# a=10
# b=9
# if a > b and b > a:
#     print("yes a g than b")
# if a > b or b < a:
#     print("yes b is less then a",bool())

    
x=10
b=5
z=x < b and b < x
print(z)

False

In [20]:
v1="1"
v2="2"
c=(v1+v2)
print(c)

12

In [32]:
print(help('keywords'))

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

In [41]:
age=int(input())
if  age >= 18:
    print("your eligibal")
elif age >3 or age <17 :
    print("your age is less")
else :
    print("s")

17
your age is less

In [2]:
l1=2
l2=1
if l2 is l1:
    print("is present")
else:
    print("is not present")

is not present

In [69]:
n=0
while n < 5:
    n=n+1
    if n==3:
        continue
    print(n)

1
2
4
5

In [70]:
l=[1,2,3,4]
for i in l:
    if i ==3:
        pass

In [76]:
l=(1,2,3,4)
print(type(l).__name__)

tuple

In [4]:
d={1:2,
  2:[1]}
print(d)

{1: 2, 2: [1]}

In [39]:
l=complex(2.2)
print(l)
print(type(l))
del l
print(l)

(2.2+0j)
<class 'complex'>

NameError: name 'l' is not defined

In [43]:
current_temperature=200
print(type(current_temperature))

<class 'int'>

In [56]:
name,age,Name="shanawaz",23,"akbarali"
for i in range(len(name)):
    if i == 4:
        continue
    print(i)
print(name)
print(age)
print(Name)

0
1
2
3
5
6
7
shanawaz
23
akbarali

In [6]:
n=3
m=4
print(id(m))
print(id(n))

2604647186768
2604647186736

In [238]:
x=2
y=1
import sys
print(sys.getrefcount(x))
print(sys.getrefcount(y))

4133
12412

In [13]:
tup=1,2,3,4
tup=a,b,c,d
print(tup)

(1, 2, 3, 4)

In [12]:
t=(1,2,3,4)
a,b,c,d=t
print(a,b,c,d)

1 2 3 4

In [16]:
st="james"
x=st[0:5:2]
print(x)

jms

In [17]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [21]:
x = 10
y = 50
if x ** 2 > 100 and y < 100:
    print(x, y)

In [22]:
x = 100
y = 50
print(x and y)

50

In [57]:
for i in range(5,0,-1):
    for k in range(1,5-i):
        print('',end='')
    for j in range(1,i+1):
        print("*",end=' ')
    print(' ')

* * * * *
* * * *
* * *
* *
*

In [78]:
num=int(input())
for i in range(1,11):
    print(num,'x',i,'=',num*i)

2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [86]:
a=int(input())
k=[k*a for k in range(1,11)]
print(k)

2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [89]:
a = 7
b = 4
c = 3
print(~a, ~b, ~c)
# Output -8 -5 -4

-8 -5 -4

In [91]:
x=6
print(~x)

-7

In [1]:
# Function for nth Fibonacci number
def Fibonacci(n):

	# Check if input is 0 then it will
	# print incorrect input
	if n < 0:
		print("Incorrect input")

	# Check if n is 0
	# then it will return 0
	elif n == 0:
		return 0

	# Check if n is 1,2
	# it will return 1
	elif n == 1 or n == 2:
		return 1

	else:
		return Fibonacci(n-1) + Fibonacci(n-2)

# Driver Program
print(Fibonacci(9))

# This code is contributed by Saket Modi
# then corrected and improved by Himanshu Kanojiya

34