In [5]:
thislist=["adnan","adnan","moin","asad","shoaib","abdul"]
print(len(thislist))

6

In [6]:
x=["apple","banana","cherry"]
print(type(x))

<class 'list'>

In [5]:
x=["adnan","asad","abdul","wasim"]
x[2]="shoaib"
print(x)

['adnan', 'asad', 'shoaib', 'wasim']

In [24]:
x=["adnan","moin","akbar","asad","apple","abdul"]
print(x[1::])

['moin', 'akbar', 'asad', 'apple', 'abdul']

In [21]:
x=["apple","banana","cherry","mango","kiwi","adnan","moin","akbar"]
print(x[2:6])

['cherry', 'mango', 'kiwi', 'adnan']

In [70]:
x="assa"
y=x[0::]
z=x[::]
if y == z:
    print("palindrome")
else: 
    print("no palindrome")

palindrome

In [46]:
x=["adnan","asad","abdul","moin","shoaib"]
if "adnan" in x:
    print("yes, in this list.")

yes, in this list.

In [3]:
x=["adnan","asad","moin"]
x[1:3]=["watermelon"]
print(x)

['adnan', 'watermelon']

In [9]:
x=["adnan","wasim","asad","cherry"]
x[3:4]=["moin"]
print(x)

['adnan', 'wasim', 'asad', 'moin']

In [10]:
thislist=["adnan","abdul","asad","moin","cherry"]
thislist[4:5]=["akbar"]
print(thislist)

['adnan', 'abdul', 'asad', 'moin', 'akbar']

In [11]:
thislist=["adnan","apple","banana"]
thislist[1:3]=["akbar","moin"]
print(thislist)

['adnan', 'akbar', 'moin']

In [16]:
thislist=["adnan","wasim","akbar","shoaib"]
thislist.insert(0,"asad")
print(thislist)

['asad', 'adnan', 'wasim', 'akbar', 'shoaib']

In [20]:
x=["adnan","wasim","asad"]
x[2:3]=["akbar"]
print(x)

['adnan', 'wasim', 'akbar']

In [21]:
thislist=["adnan","asad",]
thislist.append("wasim")
print(thislist)

['adnan', 'asad', 'wasim']

In [23]:
thislist=["apple","bananan","cherry",]
x=["kiwi","watermelon","orange"]
thislist.extend(x)
print(thislist)

['apple', 'bananan', 'cherry', 'kiwi', 'watermelon', 'orange']

In [1]:
a=range(10,4,-3)
for x in a:
 print(x)

10
7

In [58]:
x=["adnan","asad","wasim"]
x.insert(3, "moin")
print(x)

['adnan', 'asad', 'wasim', 'moin']

In [59]:
x=["asad","wasim",]
x.append("adnan")
print(x)

['asad', 'wasim', 'adnan']

In [63]:
x=["adnan","asad","wasim","shoaib"]
a=["apple","banana","cherry","kiwi","watermelon"]
a.extend(x)
print(a)

['apple', 'banana', 'cherry', 'kiwi', 'watermelon', 'adnan', 'asad', 'wasim', 'shoaib']

In [1]:
a=["adnan","asad","wasim","shoaib"]
a.remove("shoaib")
print(a)

['adnan', 'asad', 'wasim']

In [2]:
x=["adnan","abdul","asad","moin","akbar"]
x.pop(1)
print(x)

['adnan', 'asad', 'moin', 'akbar']

In [5]:
y=["apple","banana","cherry","kiwi"]
y.clear()
print(y)

[]

In [7]:
x=["adnan","moin","abdul"]
for i in x:
    print(i)

adnan
moin
abdul

In [11]:
#shorthand 
x=["adnan","wasim","asad","moin","akbar"]
[print(i) for i in x]

adnan
wasim
asad
moin
akbar

[None, None, None, None, None]

In [15]:
a=["apple","banana","cherry","banana"]
for i in range(4):
    print(i)

0
1
2
3

In [33]:
r=["adnan","asad","wasim","shoaib"]
newlist=[]

for x in r:
    if "s" in x:
        newlist.append(x)

print(newlist)
print(r)

['asad', 'wasim', 'shoaib']
['adnan', 'asad', 'wasim', 'shoaib']

# sort list

In [34]:
a=["apple","mango","banana","kiwi","watermelon"]
a.sort(reverse = True)
print(a)

['watermelon', 'mango', 'kiwi', 'banana', 'apple']

In [38]:
a=["mango","watermelon","kiwi","pineapple"]
a.sort(reverse = False)
print(a)

['kiwi', 'mango', 'pineapple', 'watermelon']

# add list

In [39]:
u=["a","b","c","d","e","f"]
l=[1,2,3]

x=u + l
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 1, 2, 3]

In [40]:
# extend() method
u=["a","b","c","d","e","f"]
l=[1,2,3,4,5]
for x in u:
    l.extend(x)
print(l)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e', 'f']

In [32]:
x=["apple","bannana","mango","cherry","kiwi"]
newlist=[]
for i in x:
    if "e" in i:
        newlist.append(i)
print(newlist)

['apple', 'cherry']

In [27]:
a=["apple","banana","cherry","kiwi",]
i=0
while i < len(a):
    print(a[i])
    i = i + 1

apple
banana
cherry
kiwi

# set

In [4]:
# .add() method
x={"apple","banan","cherry"}
x.add("orange")
print(x)

{'cherry', 'orange', 'apple', 'banan'}

In [8]:
# .upadate method
thisset={"apple","banana","cherry"}
x={"fruits","vegetable","watermelon","luch","dinner"}
thisset.update(x)
print(thisset)

{'watermelon', 'dinner', 'banana', 'luch', 'fruits', 'cherry', 'apple', 'vegetable'}

In [13]:
# .remove method
thisset={"adnan","moin","akbar","asad","wasim"}
thisset.remove("akbar")
print(thisset)

{'adnan', 'moin', 'wasim', 'asad'}

In [14]:
# .discard() method 
thisset={"adnan","moin","akbar","asad","wasim"}
thisset.discard("moin")
print(thisset)

{'adnan', 'wasim', 'asad', 'akbar'}

In [19]:
# .pop() method
x={"apple","adnan","cherry"}
l=x.pop()
print(l)

adnan

In [20]:
# .clear() method
x={"apple","banan","cherry"}
x.clear()
print(x)

set()

In [29]:
thisset={"apple","banana","cherry"}
i=0
while i < len(thisset):
    print(thisset[i])
i= i + 1

TypeError: 'set' object is not subscriptable

In [4]:
age=int(input("Enter Your Age: "))

if age >= 18:
    print("congratulation are you selected.")
elif age < 18 and age > 3: 
    print("so sorry you are not selected.")
print("Thankyou")

Enter Your Age: 18
congratulation are you selected.
Thankyou

In [31]:
# union method
x={"apple","banana","cherry"}
y={"shoaib","kasif","moin"}
z=x.union(y)
print(z)

{'moin', 'shoaib', 'banana', 'cherry', 'apple', 'kasif'}

In [35]:
# update method
x={"apple","banana","cherry"}
y={"mango","fruits","pienapple"}
x.update(y)
print(x)

{'fruits', 'banana', 'cherry', 'apple', 'mango', 'pienapple'}

In [73]:
x=("adnan","banana","cherry")
y=list(x)
y[1]="orange"
x=tuple(y)
print(x)

('adnan', 'orange', 'cherry')

In [75]:
def printValues():
    l = list()
    for i in range(1,21):
        l.append(i**2)
    print(l[:5])
    print(l[-5:])
    
printValues()

[1, 4, 9, 16, 25]
[256, 289, 324, 361, 400]

In [79]:
x={"adnan","asad","shoaib"}
y={"adnan","akbar","kasif"}
x.intersection_update(y)
print(x)

{'adnan'}

In [91]:
x={"adnan","asad","shoaib"}
y={"adnan","shoaib","kasif"}
x.symmetric_difference(y)
print(x)

{'adnan', 'shoaib', 'asad'}

# dictionary

In [103]:
thisdic={"brand":"ford",
        "modal":"mustange",
        "year":"2020",}
       # "year":"2022"
print(len(thisdic))

3

# mutable - can change (list) (dict)
# immutable- can't change (tuple) (set)

In [41]:
thisdict={"moin": "bruger",
         "adnan": "pizza",
         "akbar":{"b":"chaitoast","l":"baalchawal","d":"kabab"}}
thisdict["asad"] = ["mango"]
#thisdict["shoaib"]= ["apple"]
print(thisdict)

{'moin': 'bruger', 'adnan': 'pizza', 'akbar': {'b': 'chaitoast', 'l': 'baalchawal', 'd': 'kabab'}, 'asad': ['mango']}

# tuple

In [124]:
x=("adnan","wasim","asad")
y=list(x)
y[2]=("shoaib")
x=tuple(y)
print(x)

('adnan', 'wasim', 'shoaib')

In [144]:
m=("adnan","moin","akbar","asad","apple","banana","cherry","mango","abdul")
y=list(m)
y.append("orange")
y.append("pienapple")

t=tuple(y)
print(t)

('adnan', 'moin', 'akbar', 'asad', 'apple', 'banana', 'cherry', 'mango', 'abdul', 'orange', 'pienapple')

In [145]:
x=("apple","banana","cherry")
z=list(x)
z[1]=("orange")
y=tuple(z)
print(y)

('apple', 'orange', 'cherry')

In [150]:
x=("apple","banana","cherry","mango","pienapple")
y=("mogodibi",)
y += x
print(y)

('mogodibi', 'apple', 'banana', 'cherry', 'mango', 'pienapple')

In [155]:
x=("adnan","asad","shoaib","akbar")
y=list(x)
y.remove("shoaib")
z=tuple(y)
print(z)

('adnan', 'asad', 'akbar')

In [174]:
thisdict={"name": "adnan","age": "21"}
print(thisdict["age"])
print(type(thisdict))
print(len(thisdict))
x=thisdict.keys()
print(x)

21
<class 'dict'>
2
dict_keys(['name', 'age'])

In [179]:
thisdic={"moin":"pizza",
        "akbar" :"burger",
        "abdul" : "kababs",
        "adnan" : {"b":"chaitoast","l" :"daalchawal","d":"butterchiken"}}
x=thisdic.keys()
print(x)

dict_keys(['moin', 'akbar', 'abdul', 'adnan'])

In [28]:
list1=[2,4,6,24,32]
for i in list1:
    if i%2 ==0:
        print(f {i} is even number)
        else:

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2536240212.py, line 4)

In [182]:
a= '1024'
for i in a :
    print(i)

1
0
2
4

In [186]:
x="malayalam"
b=x[:-1]
print(b)

malayala

In [56]:
def add(b,a):
    A=a+b
    return A 
add(2,4)
c=add(2,4)
print(c)

6

6

In [22]:
a="python program"
b=a[-2:9:-2]
print(b)

ag

In [11]:
x="akbar"
y=x.capitalize()
print(y)

Akbar

In [12]:
car = {"model" : "mustange",
       "brand" : "ford",
       "year"  : "2022"
}
x=car.values()
print(x)

dict_values(['mustange', 'ford', '2022'])

In [39]:
data={"anam" : 40, "asif":"30"}
print(data.get("shoaib"))

None

In [1]:
data={"anam" : 40, "asif":"30","adnan": 80}
value=data.pop("anam")
print(value)

40

In [60]:
value=[1,1,2,3,4,3]
print(value[1:5])

[1, 2, 3, 4]

In [61]:
value=[1,1,1,2,2,2,4,3,3,5,5,5]
a=set(value)
b=list(a)
print(b)

[1, 2, 3, 4, 5]

In [3]:
def fib(n):
    a=0
    b=1
    print(a)
    print(b)
for i in range(2,n):
    c=a+b
    a=b
    a=c
    print(c)
    fib(5)

NameError: name 'a' is not defined

In [9]:
#  0,1,1,2,3,5,8,,13,21
n=int(input("enter the number"))
x=0
y=1
z=0
while (z <=n):
    print(z)
    x=y
    y=z
    z=x+y

enter the number227
0
1
1
2
3
5
8
13
21
34
55
89
144

In [13]:
value=[1,1,1,2,2,2,3,3,3,5,5,4,4]
x=set(value)
y=list(x)
print(y)

[1, 2, 3, 4, 5]

In [36]:
thisdic={"adnan":80,"shoaib":10,"akbar":40}
thisdic["jafar"]="mango"
print(thisdic.values())
print(thisdic)

dict_values([80, 10, 40, 'mango'])
{'adnan': 80, 'shoaib': 10, 'akbar': 40, 'jafar': 'mango'}

In [58]:
thisdict={"adnan": "mango","akbar":"kiwi","fruits":["apple","banana","cherry"]}
'''x=thisdict.get("shoaib")
y=thisdict.keys()
z=thisdict.values()

print(y)
print(x)
print(z)'''
#thisdict["adnan"]="pienapple"
#thisdict.update({"moin":"watermelon"})
#thisdict.popitem()
#del thisdict["akbar"]
#thisdict.clear()
print(thisdict)

{'adnan': 'mango', 'akbar': 'kiwi', 'fruits': ['apple', 'banana', 'cherry']}

In [75]:
thisdict={"brand":"ford","model":"mustang"}
#x=thisdict.values()
#for i in x:
 #   print(i)
thisdict["release"]=2022
thisdict.update({"adnan":2021})
x=thisdict.items()
for i in x:
    print(i)

('brand', 'ford')
('model', 'mustang')
('release', 2022)
('adnan', 2021)

In [73]:
ch1={"name":"krk","roll":36}
ch2={"name":"adnan","roll":35}
dicti={"child1":ch1,
     "child2":ch2}
print(dicti)

{'child1': {'name': 'krk', 'roll': 36}, 'child2': {'name': 'adnan', 'roll': 35}}

In [84]:
thisdic={"adnan":"mango","asad":"kiwi","fruits":"apple"}
for x,y in thisdic.items():
    print(x,y)

adnan mango
asad kiwi
fruits apple

In [112]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [10]:
#i row
i =1
while i<=5:
   # j=1
   # while j <=i:
    #    print("*",end=" ")
     #   j=j+1
    print(i)
    i=i+1

1
2
3
4
5

In [5]:
n=1
for i in range(5):
    for j in range(i+1):
        print(n,end=" ")
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [6]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
for i in range(1,6):
    for k in range(1,6-i):
        print((''),end="")
        for j in range(1,(2*i-1)+1):
            print('*',end ="")
    print()
    # empty string('')

****
*********
**********
*******

In [130]:
list1=[1,3,4,3,4,5,13,98,16]
for i in list1:
    if i % 2==0:
        print("fizz is",i)
    else:
        print("buzz is",i)

buzz is 1
buzz is 3
fizz is 4
buzz is 3
fizz is 4
buzz is 5
buzz is 13
fizz is 98
fizz is 16

In [147]:
a=2
b=2
if a > b:
    print("yes,a is greater then b")
elif a == b:
        print("yes,a and b are equal.")
else:
    print("none")

yes,a and b are equal.

In [149]:
x={"adnan":"mango",
   "shoaib":"apple",
   "akbar":"banana"}
if "shoaib" in x:
    print("yes shoaib is in this dict")

yes shoaib is in this dict

In [154]:
a=200 
b=33
c=500
if a > b and c > a:
    print("both conditions are True.")

both conditions are True.

In [3]:
x=[1,2,3,4,5]

x.append([6,7,8,9])
print(x)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [2]:
a=[1,2,3,4,5]
a.extend([6,7,8,9])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
x=["adnan","akbar","moin","abdul"]
x.remove()
print(x)
#TypeError: list.remove() takes exactly one argument (0 given)

TypeError: list.remove() takes exactly one argument (0 given)

In [10]:
x=[1,2,3,4]
x.pop(2)
print(x)

[1, 2, 4]

In [14]:
x=[1,2,3,4,5,6]
y=x[2:6:2]
print(y)

[3, 5]

In [15]:
# sort mthod is supported only by list
# sorted function is supported by other iterables(string ,tuple,dictionary)
x=[2,3,4,6,7,0,1]
x.sort()
print(x)

[0, 1, 2, 3, 4, 6, 7]

In [16]:
x=[2,3,4,6,7,0,1]
y=x.sorted()
print(y)

AttributeError: 'list' object has no attribute 'sorted'

In [4]:
a=[1,2,3,4,5]
a.insert()
print(a)

TypeError: insert expected 2 arguments, got 1

In [11]:
x=int(input())
if x%2==0:
    print(x,"even number")
if x%2==1:
    print(x,"odd number")

5
5 odd number

In [4]:
x=int(input())
for i in range(x):
    if x%2==0:
        print(x,"even number")
    else:
        print(x,"odd number")

2
2 even number
2 even number

In [1]:
dic={1:2,
    2:1}
dic["jafar"]=dic.pop(2)
print(dic)

{1: 2, 'jafar': 1}

In [39]:
person ={"name": "Mark",
         "country": "USA",
         "telephone": 1178}
# print(person)
for i in person.items():
    print(i)

('name', 'Mark')
('country', 'USA')
('telephone', 1178)

In [33]:
class person:
    def __init__(self,name):
        self.name=name
    def show(self,age):
        self.age=age
        print(self.age)
s1=person("adnan")
s1.show(22) 
print(s1.name)

22
adnan

In [45]:
l=[1,2,3,4]
l[0:1]="adnan"
print(l)

['a', 'd', 'n', 'a', 'n', 2, 3, 4]

In [44]:
my_list = [5, 8, 'Tom', 7.50, 'Emma']

# iterate a list
for item in my_list:
    print(item)

5
8
Tom
7.5
Emma

In [47]:
d={1:2,
  2:3}
print(d)
print(d)

{1: 2, 2: 3}
{1: 2, 2: 3}

In [49]:
tu=(1,2,3,4)
a=tu.append(2)
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
def timer(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        start_time = time.perf_counter()
        value = func(*args, **kwargs)
        end_time = time.perf_counter()
        run_time = end_time - start_time
        print("Finished {} in {} secs".format(repr(func.__name__), round(run_time, 3)))
        return value

    return wrapper
@timer
def calculator(a, b):
    add = a + b
    # return the addition
    return add
    sub = a - b
    return sub
    mul = a*b
    return mul
    div = a /b
    return div

# call function
# take return value in variable
res = calculator(20, 5)
var = calculator(10,5)
multiplication= calculator(2,4)
divided=calculator(2,10)
print(res)
print(var)
print(multiplication)
print(divided)

# print("Addition :", res)

Finished 'calculator' in 0.0 secs
Finished 'calculator' in 0.0 secs
Finished 'calculator' in 0.0 secs
Finished 'calculator' in 0.0 secs
25
15
6
12

In [34]:
print(res)
print(var)
print(multiplication)
print(divided)

25
15
6
12

In [37]:
x=list()
print(x)

[]

In [38]:
def display(**kwargs):
    for i in kwargs:
        print(i)

display(emp="Kelly", salary=9000)

emp
salary

In [2]:
def timer(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        start_time = time.perf_counter()
        value = func(*args, **kwargs)
        end_time = time.perf_counter()
        run_time = end_time - start_time
        print("Finished {} in {} secs".format(repr(func.__name__), round(run_time, 3)))
        return value

    return wrapper

def myfunc(a,b):
    c=a+b
    return c
obj=myfunc(5,5)
print(obj)

10

In [61]:
a=[5,4,3,1,2]
for i in range(0,len(a)):
    for j in range(i,len(a)):
        if a[i] > a[j]:
            a[i],a[j]=a[j],a[i]
print(a)

[1, 2, 3, 4, 5]

In [32]:
lst=[1,2,3,4,5]
lst[2:3:3]

[3]

In [19]:
def timer(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        start_time = time.perf_counter()
        value = func(*args, **kwargs)
        end_time = time.perf_counter()
        run_time = end_time - start_time
        print("Finished {} in {} secs".format(repr(func.__name__), round(run_time, 3)))
        return value

    return wrapper
@timer
class Samsung:
    def __init__(self,name,price,color,modal,battary):
        self.name=name
        self.price=price
        self.color=color
        self.battary=battary
        self.modal=modal
        
    def about_modal_name(self):
        print('This {} {} is best in the world'.format(self.name,self.modal))
        
    def battary_experience_and_price(self):
        print('That is mind blowing price {} and battery {}'.format(self.price,self.battary))
    
    def about_color(self):
        print('Many color in this {} phone but {} is best'.format(self.modal,self.color))
        
end=time.time()
        
obj=Samsung('Samsung',13999,'Blue','M30s','6000MAH')
obj.about_modal_name()
obj.battary_experience_and_price()
obj.about_color()

Finished 'Samsung' in 0.0 secs
This Samsung M30s is best in the world
That is mind blowing price 13999 and battery 6000MAH
Many color in this M30s phone but Blue is best

In [26]:
import functools
import time

def timer(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        start_time = time.perf_counter()
        value = func(*args, **kwargs)
        end_time = time.perf_counter()
        run_time = end_time - start_time
        print("Finished {} in {} secs".format(repr(func.__name__), round(run_time, 3)))
        return value

    return wrapper
@timer
def myfunc(x):
    count=0
    for i in range(10000):
        count=count+1
    print(count)
myfunc(2)

10000
Finished 'myfunc' in 0.001 secs

In [65]:
lst=[1,2,3,5,4]
x=0
for i in lst:
    if i > x:
        x=i
print(x)

5

In [46]:
lst=[2,1,4,3,6,5,8,7,10,9]
for i in range(0,len(lst)-1,2):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
d={'ali':{'score':750},'saurab':{'score':99},'jafar':{'score':89}}
x=0
st=''
for i in d:
    score=d.get(i)['score']
    if score > x:
        x=score
        st=i
print({st:x})

{'ali': 750}

In [66]:
import functools
import time

def timer(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        start_time = time.perf_counter()
        value = func(*args, **kwargs)
        end_time = time.perf_counter()
        run_time = end_time - start_time
        print("Finished {} in {} secs".format(repr(func.__name__), round(run_time, 3)))
        return value

    return wrapper
@timer
def myfunc(a,b):
    if a > b and b < a :
        print(f'{a} is greate then {b}')
myfunc(15,10)

15 is greate then 10
Finished 'myfunc' in 0.0 secs

In [5]:
lst=[(1,12),(6,13),(4,7,8)]
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i][-1] > lst[j][-1]:
            lst[i],lst[j]=lst[j],lst[i]
print(lst)

[(4, 7, 8), (1, 12), (6, 13)]

In [1]:
lst=[-1,0,0,1,-1,-1,0,-1,-1,0,0,1,0]
x=sorted(lst)
print(x)

[-1, -1, -1, -1, -1, 0, 0, 0, 0, 0, 0, 1, 1]

In [8]:
x=input("")
y=""
for i in x:
    y=i+y
if x == y :
    print("Palindrome")
else:
    print("is not palindrome")

HANNAH
Palindrome

In [19]:
result1 = 1 + 3
print("1 + 3 = ", result1)

# perform (1+3) * 2
result2 = (1 + 3) * 2
print("(1 + 3) * 2 = ", result2)

# perform (1 +(12 *2) - this will raise an error
try:
    result3 = (1 + (12 * 2)
    print("(1 + (12 * 2)) = ", result3)
except:
    print("Invalid expression - cannot perform (1 + (12 * 2))")

SyntaxError: '(' was never closed (1697203359.py, line 10)

In [20]:
def evaluate_string(s):
    s = s.replace(" ","") # remove spaces
    s = s.replace("(","") # remove brackets
    s = s.replace(")","")
    s = s.split("*")
    s = [int(i) for i in s]
    return s[0]*s[1]

print(evaluate_string("(1 + 3) * 2")) # 8

ValueError: invalid literal for int() with base 10: '1+3'

In [23]:
import operator

def evaluate_string(s):
    operations = {'+': operator.add, '-': operator.sub, '*': operator.mul, '/': operator.truediv}
    numbers = []
    operators = []
    for i in s:
        if i.isdigit():
            numbers.append(int(i))
        elif i in operations:
            operators.append(i)
    result = numbers[0]
    for i in range(len(operators)):
        result = operations[operators[i]](result, numbers[i + 1])
    return result

print(evaluate_string("(1 + 3) * 2")) # 8

8