In [76]:
def nthTerm(n):
    Nthperfectsquare = N * N

    return 2 * Nthperfectsquare

if __name__ == "__main__":

    N = 2
print(nthTerm(N))

8

In [2]:
x=list(map(int,input().split(" ")))
x=list(map(lambda x:x**2+x**2,x))
print(x)

1 2 3 4
[2, 8, 18, 32]

In [ ]:
x=list(map(int,input().split(" ")))
x=list(map(lambda x:))
print(x)

In [5]:
inpt=[int(item)for item in input().split()]
op=[inpt[i]-inpt[i-1] if i > 0 else inpt[i] for i in range(len(inpt))]
print(op)

2 4 5 6 7
[2, 2, 1, 1, 1]

In [7]:
z=[5,8,15,19]
op=[z[0]]+[x-y for x,y in (zip(z[1:],z[:-1]))]
print(op)

[5, 3, 7, 4]

In [39]:
a=[5,8,15,19]
x=a[1] - a[0]
print(x)

3

In [116]:
a=[5,8,15,19]
x=[for i in range()]

TypeError: 'list' object cannot be interpreted as an integer

In [25]:
x=[1,2,3,4]
if x * x:
    print(x)

TypeError: can't multiply sequence by non-int of type 'list'

In [13]:
d={"a":45,"b":65,"A":5}
a={i.lower():d.get(i.lower())+d.get(i.upper(),0)for i in d}        
print(a)

{'a': 50, 'b': 65}

In [195]:
class InfIter:
    def __iter__(self):
        self.num = 1
        return self

    def __next__(self):
        num = self.num
        self.num += 2
        return num
    
obj=InfIter()
var=iter(obj)
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))

1
3
5
7

In [1]:
list1 = [1,3,14,17]
print("Largest element is:", max(list1))

Largest element is: 17

In [226]:
list1 = [1,3,14,17,51,80,19]
x=0
for i in list1:
    if i>x:
        x=i
print(x)

80

In [19]:
list1 = [1,10,7,15,3]
for i in range(len(list1)):
    for j in range(i+1,len(list1)):
        if list1[i]>list1[j]:
              list1[i],list1[j]=list1[j],list1[i]
print(list1)

[1, 3, 7, 10, 15]

In [12]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divided", a, "and", b)
        if b == 0:
            print("Whoops! cannot addition")
            return

        return func(a, b)
    return inner


@smart_divide
def divide(a, b):
    print(a/b)
    
obj=divide(2,0)
print(obj)

I am going to divided 2 and 0
Whoops! cannot addition
None

In [18]:
def star(func):
    def inner(arg):
        print("*" * 30)
        func(arg)
        print("*" * 30)
    return inner


def percent(func):
    def inner(arg):
        print("%" * 30)
        func(arg)
        print("%" * 30)
    return inner


@star
@percent
def printer(msg):
    print(msg)
printer("Hello")

******************************
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Hello
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
******************************

In [23]:
a="hello world"
if "e" in a:
    print("e is present")
else:
    pass

e is present

In [32]:
a={"abc":455,"kbc":105}
if "kbc" in a:
    print("True")
else:
    print("False")

True

In [16]:
s={"Ali":{"score":91},"Akbar":{"score":70},"Bilal":{"score":81}}
res = {key: max(val.values()) for key, val in s.items()}
print(max(s.items()))

('Bilal', {'score': 81})

In [34]:
print(105 in a.values())

True

In [41]:
a=["View","Bmw","Skoda","Unicom"]
a.sort(key=len)
print(a)

['Bmw', 'View', 'Skoda', 'Unicom']

In [1]:
s={"Ali":{"score":91},"Akbar":{"score":70},"Bilal":{"score":81}}
max=0
st = ''
for i in s:
    score = s.get(i)['score']
    if score > max:
        max = score
        st = i
print({st:max})

{'Ali': 91}

In [2]:
list1 = [1,10,7,15,3]
list1.sort()
print(list1)

[1, 3, 7, 10, 15]

In [22]:
lst=[12,11,13,5,6]
for j in range(1,len(lst)):
    while lst[j-1] > lst[j] and j > 0:
        lst[j-1],lst[j]=lst[j],lst[j-1]
        j-=1
print(lst)

[5, 6, 11, 12, 13]

In [17]:
lst=[1,2,3,4,9,16]
newlst=[]
for i in lst:
#     squre=i*2
    newlst.append(i*2)
    print(newlst)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 18]
[2, 4, 6, 8, 18, 32]

In [48]:
x=int(input("Enter No:"))
for i in range(1,11):
    print(x,"x",i,"= ",x*i)

Enter No:23
23 x 1 =  23
23 x 2 =  46
23 x 3 =  69
23 x 4 =  92
23 x 5 =  115
23 x 6 =  138
23 x 7 =  161
23 x 8 =  184
23 x 9 =  207
23 x 10 =  230

In [65]:
n=int(input())
if n%2==1:
    print("Weird")
elif n % 2==0 and 2 <=n<=5:
    print("Not Weird")
elif n% 2==0 and 6<= n <=20:
    print("weird")
else:
    print("not weird")

7
Weird

# zip() fuction

In [37]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ,5]
str_lst=["adnan","shanawaz","moin"]
m = zip(name, str_lst,roll_no)
print(list(m))

[('Manjeet', 'adnan', 4), ('Nikhil', 'shanawaz', 1), ('Shambhavi', 'moin', 3)]

# filter() fucntion

In [55]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def check_even(number):
    if number % 2 != 0:
          return True  

    return False
even = filter(check_even, numbers)
even_numbers = list(even)
print(even_numbers)

[1, 3, 5, 7, 9]

# map() function

In [63]:
def addition(n):
    return n**n
numbers={1,2,3,4}
result = map(addition, numbers)
print(list(result))
# print(result)

<map object at 0x000001C8F44E3E50>

# enumerate()

In [61]:
l1 = ["eat", "sleep", "repeat"]
for c, e in enumerate(l1):
    print(c),print(e)

0
eat
1
sleep
2
repeat

In [100]:
# python code to demonstrate working of reduce()

# importing functools for reduce()
from functools import reduce as cs

# initializing list
lis = [1, 3, 5, 6, 2]

# # using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(cs(lambda a, b: a+b, lis))

# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(cs(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6

In [93]:
# Python code to demonstrate working
# of binary search in library
from bisect import bisect_left as bleft

def BinarySearch(a, x):
	i = bleft(a, x)
	if i != len(a) and a[i] == x:
		return i
	else:
		return -1

a = [1,2,3,4]
x = int(4)
res = BinarySearch(a, x)
if res == -1:
	print(x, "is absent")
else:
	print("First occurrence of", x, "is present at", res)

First occurrence of 4 is present at 3

In [44]:
x=[2,3,5,9]
while x[-1]==9:
    x[-1]=0
    x[-2]+=1
    print(x)

[2, 3, 6, 0]

In [45]:
a=[2,3,5,7]
while a[-1]==7:
    a[-1]+=1
    print(a)

[2, 3, 5, 8]

In [62]:
x=[2,2,3,4,5,9]
def func(a):
    n=0
    if a[n-1]>=9:
        while a[n-1]>=9:
            a[n-1]=0
            a[n-2]+=1
            n-=1
    else:
        a[n-1]+=1
    return a
z=func(x)
print(z)

[2, 2, 3, 4, 6, 0]