In [5]:
x=list(map(int,input().split(" ")))
y=list(map(lambda x:x**x*2,x))
print(y)

5
[6250]

In [2]:
inpt=[int(item)for item in input().split()]
op=[inpt[i]-inpt[i-1] if i > 0 else inpt[i] for i in range(len(inpt))]
print(op)

123456
[123456]

In [1]:
z=[1,2,3,4]
op=[z[0]]+[x+y for x,y in (zip(z[1:],z[:-1]))]
print(op)

[1, 3, 5, 7]

In [6]:
a=[5,8,15,19]
x=a[1] - a[0]
print(x)

3

In [10]:
d={"a":45,"b":65,"A":5}
a={i.lower():d.get(i.lower())+d.get(i.upper(),0)for i in d}        
print(a)

{'a': 50, 'b': 65}

In [ ]:
class InfIter:
    def __iter__(self):
        self.num = 1
        return self

    def __next__(self):
        num = self.num
        self.num += 2
        return num
    
obj=InfIter()
var=iter(obj)
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))

In [ ]:
list1 = [1,3,14,17]
print("Largest element is:", max(list1))

In [1]:
list1 = [1,3,14,17,51,80,19]
x=0
for i in list1:
    if i>x:
        x=i
print(x)

80

In [2]:
list1 = [1,10,7,15,3]
for i in range(len(list1)):
    for j in range(i+1,len(list1)):
        if list1[i]>list1[j]:
              list1[i],list1[j]=list1[j],list1[i]
    x=list1[-2]
print(list1)
print(x)

[1, 3, 7, 10, 15]
10

In [12]:
def smart_divide(func):
    def inner(a,b):
        print("hello")
        return func(a,b)
    return inner


@smart_divide
def divide(a, b):
    print(a+b)
    print("hello2")
    
obj=divide(4,2)

hello
6
hello2

In [2]:
def star(func):
    def inner(arg):
        print("first")
        func(arg)
        print("second")
    return inner


def percent(func):
    def inner(arg):
        print("third")
        print("fourth")
        func(arg)
        print('h')
    return inner


@percent
@star
def printer(msg):
    print(msg)
printer("Hello")

third
fourth
first
Hello
second
h

In [ ]:
a=[254,56,120,30,0.5,0]
a.sort()
x=a[-2]
print(a)
print(x)

In [7]:
a="hello world"
p=input("enter string")
if p in a:
    print("{} is present".format(p))
else:
    print("{} is not present".format(p))

enter strings
s is not present

In [9]:
a={"abc":455,"kbc":105}
if "kbc" in a:
    print("True")
else:
    print("False")

True

In [ ]:
s={"Ali":{"score":91},"Akbar":{"score":70},"Bilal":{"score":81}}
x=0
st=''
for i in s:
    score=s.get(i)["score"]
    if score>x:
        x=score
        st=i
print({st:x})

In [ ]:
print(105 in a.values())

In [37]:
a=["View","Bmw","Skoda","Unicom"]
a.sort(key=len)
print(a)

['Bmw', 'View', 'Skoda', 'Unicom']

In [ ]:
s={"Ali":{"score":10},"Akbar":{"score":70},"Bilal":{"score":81}}
max=0
st = ''
for i in s:
    score = s.get(i)['score']
    if score > max:
        max = score
        st = i
print({st:max})

In [ ]:
list1 = [1,10,7,15,3]
list1.sort()
print(list1)

In [25]:
lst=[12,11,13,5,6]
for j in range(1,len(lst)):
    while lst[j-1] > lst[j] and j > 0:
        lst[j-1],lst[j]=lst[j],lst[j-1]
        j-=1
print(lst)

[5, 6, 11, 12, 13]

In [ ]:
lst=[1,2,3,4,9,16]
newlst=[]
for i in lst:
#     squre=i*2
    newlst.append(i*2)
    print(newlst)

In [ ]:
x=int(input("Enter No:"))
for i in range(1,11):
    print(x,"x",i,"=",x*i)

In [ ]:
n=int(input())
if n%2==1:
    print("Weird")
elif n % 2==0 and 2 <=n<=5:
    print("Not Weird")
elif n% 2==0 and 6<= n <=20:
    print("weird")
else:
    print("not weird")

# zip() fuction

In [13]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
str_lst=["adnan","shanawaz","moin"]
m = zip(name, str_lst)
print(list(m))

[('Manjeet', 'adnan'), ('Nikhil', 'shanawaz'), ('Shambhavi', 'moin')]

# filter() fucntion

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def check_even(number):
    if number % 2 == 0:
          return True
    else:
        return False
even = filter(check_even, numbers)
print(list(even))

[2, 4, 6, 8, 10]

# map() function

In [16]:
def addition(n):
    return n*n
numbers=[1,2,3,4]
result = map(addition, numbers)
print(list(result))

[1, 4, 9, 16]

# enumerate()

In [18]:
l1 = ["eat", "sleep", "repeat"]
for c in enumerate(l1,10):
    print(list(c))

[10, 'eat']
[11, 'sleep']
[12, 'repeat']

# join

In [ ]:
myTuple = "John"

x = "#".join(myTuple)

print(x)

In [20]:
# python code to demonstrate working of reduce()

# importing functools for reduce()
from functools import reduce as cs

# initializing list
lis = [1, 3, 5, 6, 2]

# # using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(cs(lambda a, b: a+b, lis))

# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(cs(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6

In [ ]:
# Python code to demonstrate working
# of binary search in library
from bisect import bisect_left as bleft

def BinarySearch(a, x):
	i = bleft(a, x)
	if i != len(a) and a[i] == x:
		return i
	else:
		return -1

a = [1,2,3,4]
x = int(4)
res = BinarySearch(a, x)
if res == -1:
	print(x, "is absent")
else:
	print("First occurrence of", x, "is present at", res)

In [ ]:
n = int(input())
if n%2==1:
    print("Weird")
elif n%2==0 and 2 >= 5:
    print("Not Weird")
elif n%2==0 and 6 <= n >= 20:
    print("Weird")
else:
    print("Not Weird")

In [ ]:
n=int(input())
if n%2==1:
    print("Weird")
elif n% 2==0 and 6<= n <=20:
    print("Weird")
elif n % 2==0 and 2 <=n<=5:
    print("Not Weird")

else:
    print("Not Weird")

In [1]:
n=int(input())
def func(n):
    for i in range(n):
        return i
obj=func(n)
print(obj)

123
0

In [4]:
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

123
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123

In [ ]:
a=[[2,3]]*2
a[1][0]=3
print(a)

In [ ]:
def is_leap(year):

    # Write your logic here


year = int(input())
print(is_leap(year))

In [ ]:
class vhicle:
    def __init__(self,max_speed,mileage):
        self.a=max_speed
        self.b=mileage
obj=vhicle(250,120)
print(obj.mileage)
print(obj.max_speed)

In [ ]:
a=[1,1,2,2,2,3,2,4,5,5,6,6,8]
a=set(a)
x=list(a)
print(x)

In [21]:
def shout(text):
    return text.upper()
 
def whisper(text):
    return text.lower()
 
def greet(func):
    # storing the function in a variable
    greeting = func("""Hi, I am created by a function passed as an argument.""")
    print (greeting)
 
greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

In [22]:
def hello_decorator(func):
    def inner1():
        print("Hello ,This is before function excution.")
        func()
        print("This is after function excution.")
    return inner1
def function_to_be_used():
    print("This is inside the function.")
fucntion_to_be=hello_decorator(function_to_be_used)
fucntion_to_be()

Hello ,This is before function excution.
This is inside the function.
This is after function excution.

# fibonacci

In [1]:
def fib_ci():
    a=int(input())
    b=int(input())
    while True:
        c=a
        a=b
        b=a+c
        yield b
f=fib_ci()
for i in range(5):
    print(next(f))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
 if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

    print(list([i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)  if i+j+k !=n))

In [2]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

In [5]:
for i in range(1,5):
    for k in range(1,5-i):
        print(' ',end='')
    for j in range(i+1,-1):
        print('*',end='')
    print('')

In [ ]:
class Student:
    def __init__(self,id,name):
        self.id=id
        self.name=name
    def show(self):
        print(self.id,self.name)
obj=Student(1,"adnan")
obj.id

In [ ]:
z=set("abc")
z.add("san")
z.update(set(['p','q']))
print(z)

In [14]:
# a=max(0,-1,-2,-3)
b=min(a,1,4,6)
print(b)

0

In [ ]:
d={'name':'adnan',
  'roll':21}
for i in d.items():
    print(i)

In [ ]:
a=set()
print(a)

In [ ]:
t=(1,2,3,5)
a,b,c,d=t
print(a,b,c,d)

In [6]:
s="987654321"
print(s[-1],s[-3])
print(s[-3:],s[:-3])
print(s[-20:-3],s[-20:3])

1 3
321 987654
987654 987

In [ ]:
class A:
    def __init__(self,x,y,z):
        self.a=x+y+z
X=A(1,2,3)

In [ ]:
x=[i:i+2 for i in range(5)]
print(x)

In [ ]:
x={i:i for i in range(5) if i%2!=0}
print(x)

In [ ]:
x={i for i in range(5)}
print(x)

In [ ]:
x=[i for i in range(5)]
print(x)

In [ ]:
for i in range(1,100):
    if i%3==0 and i%5==0:
        print(i,'divisible')
    else:
        print(i,'not divisible')

In [ ]:
class Student:
    def __init__(self,age):
        self.__age=age        
    # getter method
    def age(self):
        return self.__age    
    # setter method
    def sett(self,x):
        self.__age=x
obj = Student(20)  
# setting the age using setter
obj.sett(25)  
# retrieving age using getter  
print(obj.age())

In [ ]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
stu=''
for i in student: 
    score=student.get(i)['score']
#     print(score)
    if score>max:
        max=score
#         print(max)
        stu=i
print ({stu:max})

In [3]:
def swapPositions(lst, pos1, pos2):
     
    lst[pos1], lst[pos2] = lst[pos2], lst[pos1]
    return lst
 
# Driver function
Lst = [23, 65, 19, 90,12,13]
pos1, pos2  = 0, 1
 
print(swapPositions(Lst, pos1, pos2))

[65, 23, 19, 90, 12, 13]

In [4]:
a=[2,47,8]
b=[(lambda x: "even" if x%2==0 else "odd") (x) for x in a]
print(b)

['even', 'odd', 'even']

In [7]:
lst = [2,1,4,3,1,4,2]
def odd_occurring_num(arr):
    return [i for i in lst if lst.count(i) < 2]

print(odd_occurring_num(lst))

[3]

In [3]:
a=[1,1,2,2,3,4]
r=0
for i in a:
    r^=i
print(r)

7

In [ ]:
x="hello1"
def func():
    global z
    z="hello"
    print(x)
    
def un():
    print(z)
    print(x)
    
func()
un()

In [ ]:
class Truck():
    def show(self):
        print("truck")
class Car(Truck):
#     x=super().show()
    def show(self):
        x=super().show()
        print("Car")
        print(x)
        
obj=Car()
obj.show()

In [1]:
def SortTuple(tups):
#     print(n) 
    n=len(tups)
    for i in range(n):
        for j in range(n-i-1):              
            if tup[j][1] > tup[j + 1][1]:
                tup[j], tup[j + 1] = tup[j + 1], tup[j]                 
    return tup    
# Driver's code
tup= [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]          
print(SortTuple(tup))

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [2]:
tup= [("zoo", "peanuts"),("1", 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), ("56","apple")]
tup.sort(key=lambda t:t[0])
print(tup)

[('1', 'groot'), ('56', 'apple'), ('dell', 'ipad'), ('teams', 'ml'), ('water', 'case'), ('zoo', 'peanuts')]

In [3]:
a={i for i in range(1,10)}
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
a=[1,2,4,6]
b=[(lambda x: 'even' if x%2==0 else 'odd') (x) for x in a]
print(b)

['odd', 'even', 'even', 'even']

In [6]:
a={i:i for i in range(1,10)}
print(a)

{1: 1, 3: 3, 5: 5, 7: 7, 9: 9}

In [ ]:
def sqaure(a):
    for i in a:
        a=i**3
        b.append(a)
    c=iter(b)
    obj=next(c)
    for i in obj:
         print(i)
a=[1,2,3,4]
b=[]
sqaure(a)

In [ ]:
a=[1,2,3,4]
b=[5,6,7,8]

c=a+b
print(c)

In [1]:
a={i:i for i in range(1,10,2)}
print(a)

{1: 1, 3: 3, 5: 5, 7: 7, 9: 9}

In [ ]:
a=[1,2,3,4]
x=tuple(a)
print(x)

In [ ]:
a=[254,56,120,30,0.5,0]
max = 0
for i in a:
    if i > max:
        max = i
print(max)

In [ ]:
class Person():
    def show(self):
        a=[254,56,120,30,0.5,0] 
        max=0
        for i in a:
            if i > max:
                max=i
        return max
obj=Person()    
print(obj.show())

In [ ]:
list1 = [11,22,1,2,5,67,21,32]
# to get unique elements
new_list = set(list1)
# removing the largest element from list1
new_list.remove(max(new_list))
print(max(new_list))
# now computing the max element by built-in method?
# print(max(new_list))

In [ ]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add("Vicki")
print(sampleSet)

In [7]:
a="hello"
lst=a.split()
print(lst)

['hello']

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

In [8]:
a=[1,2,3,4,5]
x=[(lambda x: 'even' if x%2==0 else 'odd' ) (x) for x in a]
print(x)

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
a=[(3,"mango"),(2,"banana"),(4,"apple")]
sort_list=sorted(a,key=lambda a:a[0])
print(sort_list)

In [ ]:
def square(y):
    for i in y:
        a=i**3
        b.append(a)
    return b
x=[1,2,3,4,5]
b=[]
square(x)

In [ ]:
class Person():    
    def myfunc(self):
        a=[254,56,120,30,0.5,0]
        max=0
        for i in a:
            if i > max:
                max=i
        return max
obj=Person()
obj.myfunc()

In [ ]:
a=[1,1,2,3,3,4,5,4,5]
def myfunc(y):
    x=0
    for i in y:
        x^=i
    return x
myfunc(a)

In [ ]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
st=''
for i in student:
    score=student.get(i)["score"] 
    if score > max:
        max=score
        st=i
print({st:max})

In [ ]:
a=10
b=20
a,b=b,a
print(a,b)

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8,9]
c=a+b
c.sort()
print(c)

In [3]:
a=['even' if i%2==0  else 'odd' for i in range(1,10)]
print(a)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
first=int(input("Enter First Number:"))
operator=input("Select Operator (+,-,*,**,/,//):")
second=int(input("Enter Second Number"))

if  operator == "+":
    print(first+second)
elif operator == "-":
    print(first+second)
elif operator == "*":
    print(first*second)
elif operator == "**":
    print(first**second)
elif operator == "/":
    print(first**second)
elif operator == "//":
    print(first//second)
else:
    print("Please Select Operator")

In [ ]:
def myfunc(x):
    lst2=[]
    for i in x:
#         a = x[x[i]]
#         print(a)
        lst2.append(x[i])
    return lst2
        
lst=[0,2,5,1,3,4]
myfunc(lst)

In [2]:
lst=[[2,3,5],[1,2,3]]
def accounts(x):
    x = map(sum,lst)
    return print(max(x))
accounts(lst)

10

In [9]:
nums = [1,3,2,1]
def myfunc(x):
    return nums +nums
myfunc(nums)

[1, 3, 2, 1, 1, 3, 2, 1]

In [ ]:
a=[12,345,2,6,7896]

In [10]:
lst=[5,8,15,19]
def myfunc(x):
    for i in range(1,4,2):
        lst[i]-=lst[i-1]
    return lst
myfunc(lst)

[5, 3, 15, 4]

In [ ]:
x=int(input(("Enter number:")))  
if x==x[::-1]:  
      print("The letter is a palindrome")  
else:  
      print("The letter is not a palindrome")

In [ ]:
a=int(input(""))
for i in range(1,11):
    print(a,"x",i,"=",i*2)

In [ ]:
z=[5,8,15,19]
op=[z[0]]+[x-y for x,y in (zip(z[1:],z[:-1]))]
print(op)

In [11]:
a = "shadab:khan"
x = dict(i.split(":") for i in a.split(";"))
print(x)

{'shadab': 'khan'}

In [5]:
a=input("")
b=dict()
for i in a:
    if i in b:
        b[i]=+1
    else:
        b[i]=1
print(b)

56
{'5': 1, '6': 1}

In [ ]:
a=1,2,3,4,-5
print(a)

# sort the list without using inbuilt function

In [ ]:
lst = [1,10,7,15,3]
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i]>lst[j]:
              lst[i],lst[j]=lst[j],lst[i]
# print(lst[-3])
print(lst)

In [ ]:
lst = [1,10,7,15,3,4]
for i in range(0,len(lst),2): 
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

In [ ]:
a=[12,34,5,4,65,35]
a.sort()
b=a[-2]
print(b)

In [ ]:
def myfunc(x):
    return x**3
a=[1,2,3,4]
obj=map(myfunc,a)
print(list(obj))

In [ ]:
lst=[1,2,3,4]
obj=[i**3 for i in lst]
print(obj)

In [ ]:
lst=[1,2,3,4]
obj=list(map(lambda x:x**3,lst))
print(obj)

In [ ]:
def myfunc(func):
    def inner(a,b):
        return func(a,b)
    return inner
@myfunc
def xyz(a,b):
    print(a+b)
xyz(10,5)

# sort the list without using inbuilt function

In [5]:
lst=[5,4,3,2,1]
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i]>lst[j]:
            lst[i],lst[j]=lst[j],lst[i]
print(lst)

[1, 2, 3, 4, 5]

In [13]:
# Python program to print Even Numbers in given range
start = int(input("Enter the start of range:"))
end = int(input("Enter the end of range:"))
# iterating each number in list
for num in range(start, end + 1):
    if num % 2 != 0:
        print(num)

Enter the start of range:5
Enter the end of range:5
5

In [ ]:
a=[i for i in range(1,5) if i%2==1]
print(a)

# print the only odd number

In [14]:
list1 = [1,2,3,4,5]
# we can also print odd no's using lambda exp.
odd= list(filter(lambda x: (x % 2 != 0), list1))
print(odd)

[1, 3, 5]

# cube using lambda function

In [ ]:
lst=[1,2,3,4]
square=list(map(lambda x:(x**3),lst))
print(square)

In [ ]:
lst=[1,2,3,4]
odd=[i for i in lst if i%2==1]
print(odd)

# generator

In [ ]:
def square(y):
    for i in range(y):
        yield i+i
        
def test(x):
    for i in square(5):
        print(i+x) 
test(6)

In [ ]:
a=[1,2,3,4]
b=0
for i in a:
    if i > b:
        b=i
print(b)

In [15]:
dic={1:22.0,2:55.0,3:67.0}
b=[]
for i in dic.values():
    b.append(float(i))
print(sum(b))

144.0

# cube using function

In [ ]:
def square(x):
    for i in x:
        lst=i**3
        b.append(lst)
    print(b)
lst=[1,2,3,4]
b=[]
square(lst)

# shuffle

In [8]:
a=[1,2,3,4,4,3,2,1]
n=4
b=[]
for i in range(n):
    b.append(a[i])
    b.append(a[i+n])
print(b)

[1, 4, 2, 3, 3, 2, 4, 1]

In [ ]:
def square():
    for i in range(1,5):
        print(i**3)
square()

In [ ]:
def myfunc(x,y):
    a=x*y
    print(a)
    return a
a=int(input())
b=int(input())
obj=myfunc(a,b)

# multipel inheritance

In [ ]:
class Person():
    def show(self):
        print("hello")
        
class Student():
    def mark(self):
        print("hello2")
        
class Teacher(Person,Student):
    def work(self):
        print("hello3")
        
obj=Teacher()
obj.show()
obj.mark()

# multilevel inheritance

In [ ]:
class Person():
    def show(self):
        print("hello")
        
class Student(Person):
    def work(self):
        print("hello1")
        
class Teacher(Student):
    def mark(self):
        print("hello3")
        
obj=Teacher()
obj.mark()
obj.work()
obj.show()

# Hierarchical Inheritance

In [ ]:
class Person():
    def show(self):
        print("hello1")
        
class Student(Person):
    def work(self):
        print("hello3")
        
class Teacher(Person):
    def mark(self):
        print("hello2")
        
obj=Teacher()
obj.

In [ ]:
def table(n):
    for i in range(1,11):
        print(n,"x",i,"=",n*i)
x=int(input())
table(x)

In [ ]:
import functools
lst=[1,2,3,4,5]
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lst))

In [ ]:
nums = [1,2,3,4,4,3,2,1]
n=4
b=[]
for i in range(n):
    b.append(nums[i])
    b.append(nums[i+n])
print(b)
# [1,4,2,3,3,2,4,1]

In [ ]:
v=["bananaa","cherry","apple","dangerous"]
for i in range(len(v)):
    for j in range(i+1,len(v)):
        if v[i]>v[j]:
            v[i],v[j]=v[j],v[i]
print(v)

In [ ]:
v=[2,9,22,1,14,10]
b=v[0]
for i in v:
    if i < b:
        b=i
print(b)

In [ ]:
lst=[{"adnan":{"score":101},"shanawaz":{"score":99},"saud":{"score":121}}]
max=0
st=''
for i in lst:

In [10]:
import string
  
def ispangram(str):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    for char in alphabet:
        if char not in str.lower():
            return False 
    return True
      
# Driver code
string = 'the quick brown fox jumps over the lazy dog'
if(ispangram(string) == True):
    print("Yes")
else:
    print("No")

Yes

In [16]:
def Check_Vow(x, vowels):
    a = [i for i in x if i in vowels]
    print(len(a))
    print(a)
     
# Driver Code
x =input()
vowels = "AaEeIiOoUu"
Check_Vow(x, vowels);

hgghfg
0
[]

In [ ]:
data=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
x=set({j for i in data for j in i.values()})
print(x)

In [9]:
data=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
x=set()
for i in data:
    for j in i.values():
        x.add(j)
print(x)

{'S009', 'S002', 'S007', 'S001', 'S005'}

In [1]:
lst=[1,2,3,4,5]
x=int(input())
for i in range(len(lst)):
    if x == lst[i]:
        print(lst[i])
        break
else:
    print(-1)

3
3

3

In [15]:
d1={'a':100,'b':200,'c':300}
d2={'a':100,'b':200,'d':400}
for i in d2:
    if i in d1:
        d1[i]=d1[i]+d2[i]
    else:
        d1[i]=d2[i]
print(d1)

{'a': 200, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
dic={'a':200,'b':100,'B':100}
x={i.lower():dic.get(i.lower())+dic.get(i.upper(),5) for i in dic}
print(x)

In [ ]:
n=int(input("Enter number: "))
a=[]
b=[]
c=[]
for i in range(n):
    x=int(input( 'enter number: '))
    a.append(x)
    if x%2==0:
        b.append(x)
    else:
        c.append(x)
print(b,"even")
print(c,"odd")

In [16]:
a = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
}}}}
for i in a.values():
    x=i.get('student')['marks']['physics']
print(x)

70

In [11]:
a=input("select your password: ")
n=input("Enter your password: ")
while True:
    if n == a:
        print("correct password")
        break
    else:
        n=input("Please Enter Your correct password: ")

select your password:
Enter your password: 123
Please Enter Your correct password: 123
Please Enter Your correct password: 123
Please Enter Your correct password: 12
Please Enter Your correct password: 123
Please Enter Your correct password:
correct password

In [18]:
def myfunc(x):
    for i in range(1,11):
        print(x,"*",i,"=",i*x)
n=int(input())
myfunc(n)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [19]:
lst=[22,5,30,223]
b=lst[0]
for i in lst:
    if i < b:
        b=i
print(b)

5

In [ ]:
lst=["nittin",1221,1234,"Adda"]

In [22]:
a= {'Timur': {'history': 90, 'math': 95, 'literature': 91},
         'Olga': {'history': 92, 'math': 96, 'literature': 81},
         'Nik': {'history': 84, 'math': 85, 'literature': 87}}
for i in a.values():
    x=i.get('Timur')['math']
    print(x)

TypeError: 'NoneType' object is not subscriptable

In [ ]:
Output:
{'Timur': 'math', 'Olga': 'math', 'Nik': 'literature'}

In [33]:
a=[1,2,3,4]
a,b,c,d=x
x=a,b,c,d
print(x)

TypeError: cannot unpack non-iterable int object

In [ ]:
for i in range(2,101):
    prime = True
    for j in range(2,i):
        if (i%j==0):
            prime = False
    if prime== True:
        print (i)

In [14]:
lst=[1,2,3,4]
for i in range(0,len(lst)-1,2):
#     if lst[i] >lst[i+1]
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[2, 1, 4, 3]

In [ ]:
lst=["bilal","ashar"]
obj=iter(lst)
c=

In [ ]:
x=1,2,3
print(x)

In [ ]:
class powtwo:
    def __init__(self,max=0):
        self.max=max
    def __iter__(self):
        self.n=0
        return self
    def __next__(self):
        if self.n <= self.max:
            result=2**self.n
            self.n+=1
            return result
        else: 
            return "stop Iteration"
obj=powtwo(10)
a=iter(obj)
c=next(a)
print(c)

In [ ]:
n1=50
n2=2
n3=3
n4=8
result= n1/n4-n3*n2+n4
print(result)

In [15]:
lst=[1,2,3,1,1,3]
a=0
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i] == lst[j]:
            a+=1
print(a)

4

In [27]:
a=int(input("enter first number: "))
b=int(input("enter second number: "))
try:
    c=a*b
    print(c)
except:
    print("division by zero is not allowed")  
else:
    print("Thakyou")

enter first number: 123
enter second number: 123
15129
Thakyou

In [ ]:
a="string123"
if a.isalnum():
    print(True)
else:
    print(False)

In [31]:
a=[2,4,3]
b=[5,6,4]
for i in a:
    for j in b:
        x=i+j
    print(x)

6
8
7

In [30]:
a=[4,54,3,4,5,6,4,23]
# output:- [4,5,3,4]
print(a[-2::-2])

[4, 5, 3, 4]

In [ ]:
a=[11,13, 123, 678,786]
for i in a:
    if len(str(i))%2==0:
        print("even")
    else:
        print("odd")

In [25]:
lst=[1,2,2,3,3,4,5,5,6,6,6]
x=set(lst)
y=list(x)
print(y[0::3])

[1, 4]

In [2]:
a=[1,2,3,4,5]
for i in range(len(a)):
    a[0],a[-1]=a[-1],a[0]
print(a)

[5, 2, 3, 4, 1]

In [ ]:
my_list1 = [1, 2, 3]

# Using = operator
new_list = my_list1
# printing the new list
print(new_list)
# Output [1, 2, 3]

# making changes in the original list
my_list1.append(4)
new_list.append(5)

# print both copies
print(my_list1)
# result [1, 2, 3, 4]
print(new_list)

In [ ]:
from copy import copy
list_1=[1,2,3,4,[8,9]]
list_2=copy(list_1)
list_1.append(5)
print(list_1)
print(list_2)

In [4]:
a=[1,2,2]
for i in range(len(a)):
    if a==a[-1]:
        i+=1
        print(i)
    else:
        print(i)

0
1
2

In [ ]:
a=[2,3,2]
for i in a:
    b=i-1
if a[b]<9:
    a[b]+=1
print(a)

In [10]:
def decor1(func):
    def inner():
        x=func()
        return x*x
    return inner
def decor(func):
    def inner():
        x=func()
        return 2*x
    return inner
@decor1
@decor
def num():
    return 10
print(num())

400

In [ ]:
x=50
y=40
print(x and y)

In [5]:
import numpy as np
arry=np.array([1,2,3,4])
print(arry)

[1 2 3 4]

In [ ]:
class Person:
    def __init__(self,a):
        self.__a=a
        
    def gett(self):
        return self.__a
     
    def sett(self,b):
        self.__a=b
obj=Person(20)
obj.gett()
obj.sett(21)
obj.gett()

In [ ]:
def myfunc(a):
    a=a+2
    return a
a=myfunc(5)
print(a)

In [ ]:
class A(object):
    def __init__(self,num):
        self.num=num
    def mul_two(self):
        self.num*=2
        
class B(A):
    def __init__(self,num):
        super().__init__(num)
    def mul_three(self):
        self.num*=3
        print("3",self.num)

obj=B(4)
print(obj.num)
obj.mul_two()
print(obj.num)
obj.mul_three()
print(obj.num)

In [7]:
def myfunc(a):
    # Split the string based on space delimiter
    list_string = a.split(' ')    
    return list_string
n=str(input())
myfunc(n)

hkjh

['hkjh']

In [20]:
a=['SAYYad','Iram']
lst=[]
for i in a:
    for j in i:
        if j.isupper():
            b=j.lower()
            lst.append(b)
        else:
            if j.islower():
                b=j.upper()
                lst.append(b)
print(lst)
# print(lst)
# x=' '.join(lst)
# print(x.split(','))
            
#         else:
#             j.upper()
#             print(j)
            
#         a=[1,1,2,3,3,4,5,4,5]
# def myfunc(y):
#     x=0
#     for i in y:
#         x^=i
#     return x
# # myfunc(a)

['s', 'a', 'y', 'y', 'A', 'D', 'i', 'R', 'A', 'M']

In [19]:
a=[2,4,8,4,2,8,9,9,22]
x=0
for i in a:
    x^=i
print(x)

115

In [10]:
lst=[1,2,3,4,5,6,7]
for i in range(0,len(lst)-1,3):
        lst[i],lst[i+2]=lst[i+2],lst[i]
print(lst)

[3, 2, 1, 6, 5, 4, 7]

In [ ]:
lst=["mcc","is","best","classess"]
x=[i.replace('m','a').replace("i","A").replace("b","v").replace("e","s") for i in lst]
print(x)

In [9]:
lst=[1,2,3,4,5]
b=0
for i in range(len(lst)):
    b=b+lst[i]
print(b)

15

In [8]:
lst=[[1,2,3,4],[5,6,7,8],[9,10,11]]
x=[]
for i in lst:
    counts=0
    for j in range(len(i)):
        counts=counts+i[j]
    x.append(counts)
print(x)
        
        
    
    
    
    
    
    

#output z=[10,26,30]

[10, 26, 30]

In [4]:
lst=[1,2,3,4]
count=0
for i in range(len(lst)):
    count=count+lst[i]
print(count)

10

In [1]:
lst=[2,4,6,8,11,13]
for i in range(0,len(lst),2):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[4, 2, 8, 6, 13, 11]

In [4]:
lst=[1,2,3,4,4,3,2]
x=0
for i in lst:
    x^=i
print(x)

1

In [6]:
class single:
    def show(self):
        print("single inheritence")
class child(single):
    def work(self):
        print("hello")
obj=child()
obj.work()
obj.show()

hello
single inheritence

In [7]:
# multiple parent one child
class multiple:
    def show(self):
        print('hello1')
class child1:
    def work(self):
        print('hello2')
class child2(multiple,child1):
    def works(self):
        print("hello3")
obj=child2()
obj.show()
obj.work()
obj.works()

hello1
hello2
hello3

In [9]:
# multiple parent chaining of classes
class multilevel:
    def show(self):
        print('hello1')
class chain(multilevel):
    def work(self):
        print('hello2')
class chain2(chain):
    def works(self):
        print('hello3')
obj=chain2()
obj.show()
obj.work()
obj.works()

hello1
hello2
hello3

In [ ]:
# one parent multiple child
class herirical:
    def show(self):
        print('hello1')
class

In [16]:
lst=[1,2,3,4,5]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]

In [17]:
lst=[1,2,3,4,5]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]

In [12]:
tup= [("zoo", "peanuts"),("1", 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), ("56","apple")]
tup.sort(key=lambda t:t[0])
print(tup)

[('1', 'groot'), ('56', 'apple'), ('dell', 'ipad'), ('teams', 'ml'), ('water', 'case'), ('zoo', 'peanuts')]

In [15]:
lst=["even" if i%2==0 else "odd" for i in range(5)]
print(lst)

['even', 'odd', 'even', 'odd', 'even']

In [4]:
def SortTuple(tups):
#     print(n) 
    n=len(tups)
    for i in range(n):
        for j in range(n-i-1):              
            if tup[j][1] > tup[j + 1][1]:
                tup[j], tup[j + 1] = tup[j + 1], tup[j]                 
    return tup    
# Driver's code
tup= [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]          
print(SortTuple(tup))

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [5]:
a=[(3,"mango"),(2,"banana"),(4,"apple")]
sort_list=sorted(a,key=lambda a:a[0])
print(sort_list)

[(2, 'banana'), (3, 'mango'), (4, 'apple')]

In [31]:
d = {"Asif":40,"Sarfraz":30,"bilal":20,"noman":50,"shoaib":60}
for i,j in d.items():
    if j > 30:
        print(i)

Asif
noman
shoaib

In [9]:
d = {"Asif":40,"Sarfraz":30,"bilal":20,"noman":50,"shoaib":60}
x=0
c=""
for i,j in d.items():
    score=d.get(i,j)
    if score > x:
        x=score
        c=i
print(x,c)

60 shoaib

In [3]:
a=[1,1,2,2,3]
for i in a:
    if a.count(i)<2:
        print(i)

3

In [4]:
def f(lst):
    return [i for x,y in zip(lst,lst[1:])
    for i in range(x +1,y)if y-x >1]
lst = [2,3,5]
f(lst)

[4]

In [37]:
def myfunc(x):
    c=""
    for i in x:
        c=c+i+' '
        print(c.upper())
y=input()
myfunc(y)

adnan
A
A D
A D N
A D N A
A D N A N

In [54]:
for i in range(5):
    a=i
print(i)

4

In [61]:
num=5
print(num.__add__(10))

15

In [62]:
class A:
    def __new__(self):
        print("new")
    def __init__(self):
        print("init")
obj=A()

new

In [6]:
lst=["Adnan","gf","sldkfjsldjf","a"]
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if len(lst[i]) > len(lst[j]):
            lst[i],lst[j]=lst[j],lst[i]
print(lst)

['a', 'gf', 'Adnan', 'sldkfjsldjf']

In [17]:
lst=["Adnan","gf","sldkfjsldjf","a"]
for i in range(0,len(lst),2):
    if len(lst[i]) > len(lst[i+1]):
        lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

['gf', 'Adnan', 'a', 'sldkfjsldjf']

In [9]:
s="aaadbbbccc"
x=""
for i in range(len(s)):
    if i < len(s)-1 and s[i] == s[i+1]:
        x=x+s[i]
print(x)

aabbcc

In [24]:
def myfunc(x,y):
    c=zip(x,y)
    print(dict(c))    
lst1=["name","marks","country"]
lst2=["Adnan",76.5,"India"]
myfunc(lst1,lst2)

{'name': 'Adnan', 'marks': 76.5, 'country': 'India'}

In [5]:
def maxs(r):
    maxs=0
    for i in w:
        count=0
        for j in range(len(i)):
            count=count+i[j]
    print(count)
w=[[1,2,3],[5,6,7],[3,4,5],[2,2]]
maxs(w)

4

In [84]:
def d(x,y):
    for i in d2:
        if i in d1:
            d1[i]=d1[i]+d2[i]
        else:
            d1[i]=d2[i]
    print(d1)
d1={'a':100,'b':200,'c':300}
d2={'a':100,'b':200,'d':400}  

d(d1,d2)

{'a': 200, 'b': 400, 'c': 300, 'd': 400}

In [44]:
def m(n):
    if n==n[::-1]:  
          print("The letter is a palindrome")  
    else:  
          print("The letter is not a palindrome") 
s="junaid"
m(s)

The letter is not a palindrome

In [5]:
d1={'a':100,'b':200,'c':300}
d2={'a':100,'b':200,'d':400}
d3={}
for i in d1:
    if i in d2:
        d3[i]=d1[i]+d2[i]
print(d3)

{'a': 200, 'b': 400}

In [107]:
dicts={'v':'s001','vi':'s005','vii':37,'viii':'s001','ix':37,'x':'python'}
x=set()
for i in dicts.values():
    if i not in x:
        x=x.update(i)
    else:
        pas

s001
s005
37
s001
37
python

In [133]:
dicts={'v':'s001','vi':'s005','vii':'37','viii':'s001','ix':'37','x':'python'}
x={(i) if (i)  in i else "hello"  for i in dicts.values()}
print(x)

{'s005', 'python', '37', 's001'}

In [14]:
def totalsum(x):
    w=[[1,2,3],[5,6,7],[3,4,5],[2,2]]
    y=0
    lst=[]
    for i in w:
        lst.append(sum(i))
    for j in lst:
        if j > y:
            y=j
    print(y)
totalsum(w)

18

In [55]:
a=[1,2,3,4,5]
b=[3,2,4,5,9]
lst=[]
lsts=[]
x=sorted(a+b)
lst.extend(x[:5])
lsts.extend(x[5:])
print(lst)
print(lsts)
print(lst[-1] + lsts[0])

[1, 2, 2, 3, 3]
[4, 4, 5, 5, 9]
7

In [84]:
a=['2008975','4356789','599200','324456','576433']
lst=""
c=lst.join(a)
x=c.startswith('200',17,32)
print(x,end='')



# output=200324456576433

True

In [101]:
a='GEEKFHFHFdddas789gfs45?@$gh9&'
#output=GEEKFHFHF
#output=dddasgfsgh
#output=789459
#output=?@$&
c=""
d=""
x=""
y=''
for i in a:
    if i.isupper():
        c=c+i

    elif i.islower():
        y=y+i
        
    elif i.isdigit():
        d=d+i
        
    else:
        x=x+i
    
print(d)
print(c)
print(x)
print(y)

789459
GEEKFHFHF
?@$&
dddasgfsgh

In [129]:
s="saudmalayalambilal"
n=len(s)
longest=""
for i in range(n):
        for j in range(i + 1, n + 1):
            if s[i:j] == s[i:j][::-1] and len(s[i:j]) > len(longest):
                longest = s[i:j]
print(longest)
        
               

#output find the palidrome if not return none

malayalam

In [1]:
def validate_parenthesis(string):
    stack = []
    for char in string:
        if char in ('(', '{', '['):
            stack.append(char)
        elif char in (')', '}', ']'):
            if not stack:
                return "Invalid"
            if char == ')' and stack[-1] == '(':
                stack.pop()
            elif char == '}' and stack[-1] == '{':
                stack.pop()
            elif char == ']' and stack[-1] == '[':
                stack.pop()
            else:
                return "Invalid"
    return "Valid" if not stack else "Invalid"
input_string = "({[]})"
print(validate_parenthesis(input_string))

Valid

In [15]:
a="Abc"
b="xAB"


for i in range(len(a)):
    if len(a) == len(b) and a[i].lower() in b.lower():
        print("Anagram")
        break
    else:
        print("is not Anagram")
        break

Anagram

In [10]:
d={"student":{},"Roll":{},"subject":{}}
d.update({'student':{"noman","bilal"}})
d.update({'Roll':{'01','02'}})
d.update({'subject':{"commerce",'science'}})
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [13]:
d={('noman'):1,'saud':2}
print(d)

{'noman': 1, 'saud': 2}

In [14]:
a = 1,2,3
print(a)

(1, 2, 3)

In [18]:
a=[1,2,3]
print(a[::-2])

[3, 1]

In [19]:
a = [{"name":"def","age":34},
    {"name":"abc","age":43},
    {"name":"ghi","age":24}]

for i in a:
    x=i.get('name')
    if x == 'abc':
        c=i.get('age')
        print(c)

43

In [57]:
a = [{"name":"def","age":34},
    {"name":"abc","age":43},
    {"name":"ghi","age":24}]
b=sorted(a,key=lambda x:x['age'])
print(b)

[{'name': 'ghi', 'age': 24}, {'name': 'def', 'age': 34}, {'name': 'abc', 'age': 43}]

In [63]:
a = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
}}}}
for i in a.values():
    x=i.get('student')['marks']['physics']
print(x)

70

In [14]:
a = [1,2,3,4,5]
for i in a:
    a[0], a[-1] = a[-1], a[0]
print(a)

[5, 2, 3, 4, 1]

In [ ]:
a=int(input("enter number"))
b=0
while True:
    if b == 0:  
        x=int(input())
        b=b+x
        print(b)

enter number5
5
5

In [2]:
def area_of_circle(radius):
    pi = 3.14159
    area = pi * (radius ** 2)
    print(area)
    return area
area_of_circle(12)

452.38896

452.38896

In [2]:
lst = [1, 5, 6, 9, 7, 2, 3, 4]

# Initialize variables to hold the highest and second highest numbers
highest = lst[0]
second_highest = None

# Iterate over the list
for num in lst:
    if num > highest:
        # If the current number is higher than the highest, update both variables
        second_highest = highest
        highest = num
    elif num != highest and (second_highest is None or num > second_highest):
        # If the current number is not equal to the highest and is higher than the second highest, update the second highest
        second_highest = num

# Print the second highest number
print("The second highest number in the list is:", second_highest)

1
The second highest number in the list is: 7

In [13]:
lst = [1,2,3,4]
c = "roll"
x=dict.fromkeys(lst,c)
print(x)

{1: 'roll', 2: 'roll', 3: 'roll', 4: 'roll'}

In [24]:
import copy
lst = [[1,2,3],['ab',4,5,6]]
# lst1 = lst
# print(id(lst1),id(lst))
# lst1[0]=10
# print(lst1)
# print(lst)
# lst2 = copy.copy(lst)
# lst2[0][1]=10
# print(lst2)
# print(lst)

# lst2[0]=10
# print(lst2)
# print(lst)
# print(id(lst2),id(lst))
# lst[0]=[10]
# print(id(lst))
# print(id(lst2))
# print(lst)
# print(lst2)
# lst2 = copy.deepcopy(lst)
# lst2[0]=10
# lst2[1][0] = 12
# print(lst2)
# print(lst)

In [23]:
dicts={'result':
       {'previous':
        {'top':
         [{'share':0.1234,'total':12500,'name':'mcc'},
          {'share':0.0012,'total':33000,'name':'vetan'},
          {'share':0.1234,'total':12500,'name':'mcc'},
          {'share':0.0012,'total':33000,'name':'vetan'},
          {'share':0.1234,'total':12500,'name':'mcc'},
          {'share':0.0012,'total':33000,'name':'vetan'}]}}}

x = 0
y = dicts['result']['previous']['top']
for i in y:
    x = x + 1
    i.update({'index':x})
    percentage = i['share']*100
    i.update({'percentage':percentage})
    i.pop('share')
    amount = i['total']
    i.update({'amount':amount})
    i.pop('total')
print(y)

[{'name': 'mcc', 'index': 1, 'percentage': 12.34, 'amount': 12500}, {'name': 'vetan', 'index': 2, 'percentage': 0.12, 'amount': 33000}, {'name': 'mcc', 'index': 3, 'percentage': 12.34, 'amount': 12500}, {'name': 'vetan', 'index': 4, 'percentage': 0.12, 'amount': 33000}, {'name': 'mcc', 'index': 5, 'percentage': 12.34, 'amount': 12500}, {'name': 'vetan', 'index': 6, 'percentage': 0.12, 'amount': 33000}]

In [5]:
import copy
# lst = [1,2,3,4]
# lst2 = lst #Normal copy 
# print(id(lst),id(lst2)) # both memory location are same

# lst = [1,2,3,4]
# lst2 = copy.copy(lst)
# print() # both lst are different memory location

# lst = [[1,2,3],['ab',4,5,6]]
# lst2 = copy.deepcopy(lst)
# lst2[0][1]=10
# print(lst2)
# print(lst)

[[1, 10, 3], ['ab', 4, 5, 6]]
[[1, 2, 3], ['ab', 4, 5, 6]]

# Find the second highest number in list without sorting the list

In [ ]:
lst = [1, 4, 2, 6, 3, 5,7]
max1 = lst[0]
max2 = lst[1]
for i in range(2,len(lst)):  
    if lst[i] > max1:
        max2 = max1
        max1 = lst[i] 
    elif lst[i] > max2:
        max2 = lst[i]
print(max2)

In [41]:
lst = [1, 4, 2, 6, 3, 5,7,8,200,325,199]
x = []
for i in range(len(lst)):
    for j in range(i,len(lst)):
        if lst[i] > lst[j]:
            lst[i],lst[j] = lst[j],lst[i]
x.append(lst[-2])
print(lst)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 199, 200, 325]
[200]

In [14]:
d = {
    'result': {
        'previous': {
            'monthWiseSummary': [
                {
                    'retPeriod': "032021",
                    'gstr1': {
                        'ttlVal': 1
                    }
                },
                {
                    'retPeriod': "042021",
                    'gstr1': {
                        'ttlVal': 2
                    }
                },
                {
                    'retPeriod': "052021",
                    'gstr1': {
                        'ttlVal': 3
                    }
                },
                {
                    'retPeriod': "062021",
                    'gstr1': {
                        'ttlVal': 4
                    }
                },
                {
                    'retPeriod': "072021",
                    'gstr1': {
                        'ttlVal': 5
                    }
                },
                {
                    'retPeriod': "082021",
                    'gstr1': {
                        'ttlVal': 6
                    }
                },
                {
                    'retPeriod': "092021",
                    'gstr1': {
                        'ttlVal': 7
                    }
                },
                {
                    'retPeriod': "102021",
                    'gstr1': {
                        'ttlVal': 8
                    }
                },
                {
                    'retPeriod': "112021",
                    'gstr1': {
                        'ttlVal': 9
                    }
                },
                {
                    'retPeriod': "122021",
                    'gstr1': {
                        'ttlVal': 10
                    }
                },
                {
                    'retPeriod': "012022",
                    'gstr1': {
                        'ttlVal': 11
                    }
                },
                {
                    'retPeriod': "022022",
                    'gstr1': {
                        'ttlVal': 12
                    }
                }
            ]
        },
        'current': {
            'monthWiseSummary': [
                {
                    'retPeriod': "032022",
                    'gstr1': {
                        'ttlVal': 13
                    }
                },
                {
                    'retPeriod': "042022",
                    'gstr1': {
                        'ttlVal': 14
                    }
                },
                {
                    'retPeriod': "052022",
                    'gstr1': {
                        'ttlVal': 15
                    }
                },
                {
                    'retPeriod': "062022",
                    'gstr1': {
                        'ttlVal': 16
                    }
                },
                {
                    'retPeriod': "072022",
                    'gstr1': {
                        'ttlVal': 17
                    }
                },
                {
                    'retPeriod': "082022",
                    'gstr1': {
                        'ttlVal': 18
                    }
                },
                {
                    'retPeriod': "092022",
                    'gstr1': {
                        'ttlVal': 19
                    }
                },
                {
                    'retPeriod': "102022",
                    'gstr1': {
                        'ttlVal': 20
                    }
                },
                {
                    'retPeriod': "112022",
                    'gstr1': {
                        'ttlVal': 21
                    }
                },
                {
                    'retPeriod': "122022",
                    'gstr1': {
                        'ttlVal': 22
                    }
                },
                {
                    'retPeriod': "012023",
                    'gstr1': {
                        'ttlVal': 23
                    }
                },
                {
                    'retPeriod': 24
                    },

    ]
    }
     }

}
a = d['result']['previous']['monthWiseSummary']
user = input("Enter Month and Year")

[{'retPeriod': '032021', 'gstr1': {'ttlVal': 1}}, {'retPeriod': '042021', 'gstr1': {'ttlVal': 2}}, {'retPeriod': '052021', 'gstr1': {'ttlVal': 3}}, {'retPeriod': '062021', 'gstr1': {'ttlVal': 4}}, {'retPeriod': '072021', 'gstr1': {'ttlVal': 5}}, {'retPeriod': '082021', 'gstr1': {'ttlVal': 6}}, {'retPeriod': '092021', 'gstr1': {'ttlVal': 7}}, {'retPeriod': '102021', 'gstr1': {'ttlVal': 8}}, {'retPeriod': '112021', 'gstr1': {'ttlVal': 9}}, {'retPeriod': '122021', 'gstr1': {'ttlVal': 10}}, {'retPeriod': '012022', 'gstr1': {'ttlVal': 11}}, {'retPeriod': '022022', 'gstr1': {'ttlVal': 12}}]

In [2]:
def myfunc(func):
    def inner(a,b):
        print("hello world")
        return func(a,b)
    return inner()

@myfunc
def decor(a,b):
    print(a+b)
decor(5,5)

TypeError: myfunc.<locals>.inner() missing 2 required positional arguments: 'a' and 'b'

In [1]:
lst = [1,2,3,4]
lst2 = lst.copy()
print(lst)
print(lst2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [10]:
import copy
lst = [1,2,3,4,[5,6,7]]
lst2 = copy.deepcopy(lst)
lst[4][1]=10
print(lst)
print(id(lst2[4]))
print(id(lst[4]))

[1, 2, 3, 4, [5, 10, 7]]
2502801807040
2502830282624