In [8]:
def name(x,y):
    add=x+y
    sub=x-y
    mul=x*y
    div=x/y
    return add,sub,mul,div
v=name(10,5)
print(v)

(15, 5, 50, 2.0)

In [19]:
class Myclass:
    x=10
    y=15
    a=x+y
    s=x-y
    m=x*y
    d=x/y    
p=Myclass()
print(p.a)
print(p.s)
print(p.m)
print(p.d)

25
-5
150
0.6666666666666666

In [1]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=Person("adnan",22)
print(p1)
print(p1.age)

<__main__.Person object at 0x000001BC4D4DF580>
22

In [35]:
li1=[1,2,3]
li=[*li1,4,5,6,]
def fun():
    for i in li:
        print(i)
fun()

1
2
3
4
5
6

In [57]:
class Myclass:
    def __init__(self,name,age,std): # attributes
        self.name=name
        self.age=age # instence method
        self.std=std
    def show(self):
        print("My name is",self.name)
        print("I am",self.age ,"year old")
        print("I am living in",self.std)
p1=Myclass("akbar",25,"sakinaka")
p1.show()w  bbbbbbbbbbbbbbbbbbbb                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       `
def myfunc()

My name is akbar
I am 25 year old
I am living in sakinaka

In [7]:
class Myroom:
# class variable    k_k='khanna'
# constructor
    def __init__(self,name,x,profession):
#         instance variable
        self.name=name
        self.x=x
        self.profession=profession
        print('busha')
#         behavior(instance method)
    def show(self):
        print("working as a",self.profession,)
        
#         behavior (instance method)
    def work(self):
        print("Name:",self.name,"\n""Gender:",self.x,"\n""profession:",self.profession)
        
#         create object of a class
var=Myroom("Adnan","male","Software Engineer")
#         call method
var.show()
var.work()

busha
working as a Software Engineer
Name: Adnan
Gender: male
profession: Software Engineer

In [4]:
class Student:
    # class variables
    school_name = 'ABC School'

    # constructor
    def __init__(self, name, age):
        # instance variables
        self.name = name
        self.age = age
    def show(self):
        print(f"My Name Is {self.name} {self.school_name} {Student.school_name}")
    @classmethod
    def work(cls,new_school_name):
        cls.school_name=new_school_name

s1 = Student("Harry", 12)

# access instance variables

# print('Student:', s1.name, s1.age)

# # access class variable
# print('School name:', Student.school_name)

# Modify instance variables
# s1.name = 'Jessa'
# s1.age = 14
# s1.pro="software Engineer"
# print('Student:', s1.name, s1.age,s1.pro)

# Modify class variables
Student.school_name = 'XYZ School'
print(Student.school_name)
Student.work("ww")
s1.show()
s1.school_name="ooo"
s1.show()

XYZ School
My Name Is Harry ww ww
My Name Is Harry ooo ww

In [57]:
class Person:
    student_1="adnan"
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
s1=Person("akbar",25,"male")
print("student:",s1.name,s1.age,s1.sex)
print("student name:",Person.student_1)
s1.name="adnan"
s1.age="22"
s1.sex="male"
print("student:",s1.name,s1.age,s1.sex)
Person.student_1="shoaib"
print("student name:",Person.student_1)

student: akbar 25 male
student name: adnan
student: adnan 22 male
student name: shoaib

In [6]:
class Student:
    school_name="ABC school"
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
         print("student:",self.name,self.age,self.school_name)
#     def change_age(self,new_age):
#         self.age=new_age
# #        modify class method 
#     @classmethod
#     def modify_school(cl,new_name):
#         cl.school_name:new_name
s1=Student("Harry",14)
s2=Student("akbar",30)
del s1
print(s1.school_name)
print(s2.school_name)
print(Student.school_name)

print(s1.name)
print(s2.name)

s1.show()
# s1.change_age(12)
# Student.modify_school("xyz school")
# s1.show()

NameError: name 's1' is not defined

# Default Constructor

### Default Constructor
class Defultes:     
    def display(self):
        self.name=name
s1=Defult("akbar")

In [37]:
class abc:
    def add(self,a,b):
        return(a+b)
    def add(self,a,b,c=0):
        return a+b+c
v=abc()
print(v.add(2,5,8))
print(v.add(2,3))

15
5

In [5]:
class Employee:
    count = 0
    def __init__(self):
        Employee.count = Employee.count + 1


# creating objects
e1 = Employee()
e2 = Employee()
e2 = Employee()
e2 = Employee()
print("The number of Employee:", Employee.count)

The number of Employee: 4

In [5]:
class vehicle:
#     constructor of vehicle
    def __init__(self,engine):
        self.engine=engine
class car(vehicle):
#     constructor of car
    def __init__(self,engine,max_speed):
        super().__init__(engine)
        self.max_speed=max_speed
class Electric_car(car):
#     constructor of Electric_car
    def __init__(self,engine,max_speed,km_range):
        super().__init__(engine,max_speed)
        self.km_range=km_range
var=Electric_car("1500cc",240,750)
print(f'engine={var.engine},max speed={var.max_speed},km range={var.km_range}')

engine=1500cc,max speed=240,km range=750

In [7]:
class Student:

    # constructor
    def __init__(self, name):
        print('Inside Constructor')
        self.name = name
        print('Object initialized')

    def show(self):
        print('Hello, my name is', self.name)
        print(self.name)

    # destructor
    def __del__(self):
        print('Inside destructor')
        print('Object destroyed')

# create object
s1 = Student('Emma')
del s1
s1.show()

# delete object
# del s1
# s1.__del__()
# s1.show()

Inside Constructor
Object initialized
Inside destructor
Object destroyed

NameError: name 's1' is not defined

In [1]:
a= {1:2,3:4}
a[5]=a.pop(1)
print(a)

{3: 4, 5: 2}

In [14]:
class Employee:
    def __init__(self,name,age,pro,area,salary):
        self.name=name
        self.age=age
        self.pro=pro
        self.area=area
        self.salary=salary
    def show(self):
        print(self.name)
        print(self.age)
        print(self.pro)
        print(self.area)
        print(self.salary)
s1=Employee("adnan",22,"se","mumbai",20)
s1.show()

adnan
22
se
mumbai
20

In [7]:
d={'khan':1,
  'shaikh':1964}
d["ali"]=d.pop("khan")
print(d)

{'shaikh': 1964, 'ali': 1}

In [9]:
l=[1,2,3]
a=[4,5,6]
l.extend(a)
print(l)

[1, 2, 3, 4, 5, 6]

In [33]:
class Person:
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
    def show(self):
        print("My self",self.name)
        print("I am",self.age,"year old")
    def work(self):
        print(self.name,self.age,self.salary)
obj=Person("adnan",22,20)
obj.show()
obj.work()

My self adnan
I am 22 year old
adnan 22 20

In [89]:
l=[1,15,2,7]
t=9
def tar(l,t):
    for x in range(len(l)):
        for y in range(len(l)):
            if l[x]+l[y]==t:
                return x,y
print(list(tar(l,t)))

[2, 3]

In [1]:
l=[3,2,4]
t=7
def tar(l,t):
    for x in range(len(l)):
        for y in range(1,len(l)):
            if l[x]+l[y]==t:
                return x,y
print(list(tar(l,t)))

[0, 2]

In [85]:
l=[11,15,2,7]
t=int(input("target:"))
for i in range(len(l)):
    for j in range(len(l)):
        if l[i]+l[j]==t: 
                print(i)

target:7

In [18]:
b=[2,3,4]
a=[2,3,4]
print(a==b)
print(a is a)

True
True

In [26]:
class Person:
    def __init__(self,name,age,pro):
        self.name=name
        self.age=age
        self.pro=pro
    def show(self):
        print("hello my name",self.name)
s1=Person("adnan",22,"se")
s1.show()

hello my name adnan

In [41]:
class Empolyee:
    def __init__(self,name,salary):
        self.name=name
        self.__salary=salary
    def show(self):
        print("hello my name is",self.name,self.__salary)
s1=Empolyee("adnan",20)
s1.show()
print(s1._Empolyee__salary)

hello my name is adnan 20
20

In [7]:
class show: 
    def __init__(self,name):
        self.name="adnan"
        print("hello my name is",self.name)
class person(show):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
        print("i am",self.age,"year old")
class work(person):
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        self.salary=salary
        print(self.salary)
s=work("adnan",22,30)
# print(f'name={s.name},age={s.age},salary={s.salary}')

hello my name is adnan
i am 22 year old
30

In [30]:
class student:
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
    def show(self):
        print("Name of the student:",self.name,"Roll no of the student:",self.rollno)
    
    
class school(student):
    def __init__(self, name, rollno,age):
        super().__init__(name, rollno)
        super().show()
        self.age = age
    def show(self):
        self.school="abp school"
        print("school name:",self.school, "rollno.:",self.rollno, "age:", self.age) 
        
        
class home(school):
    def __init__(self, name, rollno,age, subject):
        super().__init__(name, rollno, age)
        super().show()
        self.subject = subject
    def show(self):
        self.school="abp school"
        print("school name:",self.school, "rollno.:",self.rollno, "subject:", self.subject)
        

s1=home('iram',55,33,"Maths")
s1.show()

Name of the student: iram Roll no of the student: 55
school name: abp school rollno.: 55 age: 33

In [60]:
class show:
    def __init__(self,name,age):
        self.name=name
        self.__age=age
    def get(self):
        return self.__age
    def sett(self,age):
        self.__age=age
s1=show("jafar",22)
print(s1.name,s1.get())
s1.sett(23)
print(s1.get())

jafar 22
23

In [112]:
class Vehicle:

    def __init__(self, name, color, price):
        self.name = name
        self.color = color
        self.price = price

    def show(self):
        print('Details:', self.name, self.color, self.price)

    def max_speed(self):
        print('Vehicle max speed is 150')

    def change_gear(self):
        print('Vehicle change 6 gear')


# inherit from vehicle class
class Car(Vehicle):
    def max_speed(self):
        print('Car max speed is 240')

    def change_gear(self):
        print('Car change 7 gear')

        
class Truck(Car):
    def max_speed(self):
        print('Truk max speed is 250')
    def change_gear(self):
        print('Truk chage 5 gear')


# Car Object
car = Car('Car x1', 'Red', 20000)
car.show()
# calls methods from Car class
car.max_speed()
car.change_gear()

# Vehicle Object
vehicle = Vehicle('Truck x1', 'white', 75000)
vehicle.show()
# calls method from a Vehicle class
vehicle.max_speed()
vehicle.change_gear()

truck.max_speed()

Details: Car x1 Red 20000
Car max speed is 240
Car change 7 gear
Details: Truck x1 white 75000
Vehicle max speed is 150
Vehicle change 6 gear
Truk max speed is 250

In [ ]:
class person:
    def __init__(self,name):
        self.name=name
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __init__(self,name,age,role):
        self.name=name
        self.age=age
        self.role=role

In [113]:
class Student:
    # constructor
    def __init__(self, name, age):
        # Instance variable
        self.name = name
        self.age = age

# create first object
s1 = Student("Jessa", 20)

# access instance variable
print('Object 1')
print('Name:', s1.name)
print('Age:', s1.age)

# create second object
s2= Student("Kelly", 10)

# access instance variable
print('Object 2')
print('Name:', s2.name)
print('Age:', s2.age)

Object 1
Name: Jessa
Age: 20
Object 2
Name: Kelly
Age: 10

In [121]:
class a:
    def __init__(self):
        print(2)
    def __new__(self):
        print(1)
    
s1=a()

1

In [2]:
class Person:
    school_name="anjuman"
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
    def show(self):
        print("my name is ",self.name,"i am 22 year ",self.age)
s2=Person("adnan",22,20000)
print(Person.school_name)

anjuman

In [16]:
class Person:
    def show(self):
        print("inside the cls")
class work(Person):
    def show(self,name):
        super().show()
        print("inside the child")
        self.name=name
        print(self.name)
        
s1=work()
s1.show("adnan")

inside the cls
inside the child
adnan

In [ ]:
class Employee:
    def __init__(self,name,age):
        self.name=name

s1=Employee()

In [63]:
class Employee:

    def __init__(self, name, salary, project_name):
        self.name = name
        self.salary = salary
        self.project_name = project_name

    @staticmethod
    def gather_requirement():
        

emp = Employee('Kelly', 12000, 'ABC Project')
emp.work()
print(emp)

IndentationError: expected an indented block after function definition on line 9 (409810017.py, line 12)

In [62]:
d={'1':2,
  6:3,
  5:4}
for i in d.items():
    print(i)

('1', 2)
(6, 3)
(5, 4)

In [66]:
a=[1,2,3,4,5]
x=a[2:-5:-2]
print(x)
1

[3]

In [76]:
a=input("enter string")
for i in range ((len(a)-1)-1):
    print (a[i],end="")

enter stringadnan
adn

In [86]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=' ')
    print("")

*
* *
* * *
* * * *
* * * * *

In [24]:
for i in range(1,6):
    for k in range(1,6-i):
        print(" ",end='')
    for j in range(1,2*i):
        print("*",end="")
    print('')
for i in range(5,0,-1):
    for k in range(1,6-i):
        print(" ",end='')
    for j in range(1,2*i):
        print("*",end="")
    print('')

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [99]:
a=[2,3,4,5]
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [109]:
class Person:
    def show(self):
        print("inside interger")
    def work(self):
        print("outside interger")
    def __add__(self):
        print("in")
s1=Person()
s1.show()
s2=Person()
s2.show()

inside interger
inside interger

In [2]:
def square(x):
    for i in range(x):
        yield i*i
        
def test(x):
    for i in square(5):
        print(i+x) 
test(6)

6
7
10
15
22

In [11]:
n=int(input("Enter the number of rows: "))
m=n-2
for i in range (n):
    print(" " * (n-i-1),"*" * (2*i+1)," " * (n-i-1))
for j in range (m,-1,-1):
    print(" " * (n-j-1),"*" * (2*j+1)," " * (n-j-1))

Enter the number of rows: 6
      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *

In [50]:
d={'a':1,'c':3,'d':4}
d.update({'e':2})
s = dict(sorted(d.items(), key=lambda x: x[1]))
print(s)

{'a': 1, 'e': 2, 'c': 3, 'd': 4}

In [13]:
def myfunc(x):
    lst=[-1,-2,-3,-4,5,6,7,8]
    for i in range(len(lst)):
        if lst[i] == x:
             print(i)
myfunc(3)

In [ ]:
d={'a':1,'b':2,'c':3}

In [2]:
lis=[5,10,15,20,30]
x=int(input())
low=0
high=len(lis)
if x not in lis:
    print("its not in list")
while low<high:
    mid=low+high//2
    if lis[mid]==x:
        print(mid)
    if x>lis[mid]:
        mid=low+1
    else:
        high=mid-1

5
0

In [18]:
lst=[16,17,4,3,5,2,9]
z=[]
x=0
for i in range(len(lst)):
    while 
        if lst[i]>x:
            x=lst[i]
            if lst[i]<x:
                z.append(lst[i])
        
print(z)

SyntaxError: invalid syntax (2908893525.py, line 5)

In [17]:
a="aaaabbaacc"
d = {}
count = 0
for i in a:
    if i not in d:
        count = 1
    else:
        count += 1
    d.update({i:count})
print(d)

{'a': 4, 'b': 2, 'c': 2}