In [1]:
comment

NameError: name 'comment' is not defined

# adnan

print("adnan")

'''alskjfljslfj
  slasjfljsf
  sjkfljsfd
  asjfd;adfs'''

In [1]:
x = 5
y = "asad"
print(x)
print(y)

5
asad

In [4]:
x = 10
y = "adnan"
print(x)
print(y)

10
adnan

In [3]:
x = 5
y = "adnan"
z = "asad"
print(x)
print(y)
print(z)

5
adnan
asad

In [1]:
x=5
y="adnan"
print(x)
print(y)

5
adnan

In [7]:
x =str(10)
y =float(1)
z =int(4)
print(x)
print(y)
print(z)

10
1.0
4

In [14]:
x = 5
y = "adnan"
z = 1.4
print(type(z))
print(type(x))
print(type(y))

<class 'float'>
<class 'int'>
<class 'str'>

In [18]:
myvar1="dtgrf"
a = "adnan"
A = (type(1.1))
print(myvar1)
print(A)
print(a)

dtgrf
<class 'float'>
adnan

In [79]:
a, b, c = "adnan", "wasim", "asad"
print(a,b,c)

adnan wasim asad

In [26]:
a = b= c= "orange"
print(type(a))
print(b)
print(c)

<class 'str'>
orange
orange

In [54]:
list= [" bike " , " car " , " plan "]
a, b, c = list
print( a+ b+ c )
print(a)
print(b)
print(c)

 bike  car  plan
 bike
 car
 plan

In [35]:
x = 50
y= 70
print(x + y)

120

In [40]:
x ="awesome"

def myfunc():
    print("python is " + x)
myfunc()

python is awesome

In [50]:
x="awesome"
def myfunc():
    x="dynamic oriented programing language"
    print("python is " + x)
myfunc()
print("python is " + x)

python is dynamic oriented programing language
python is awesome

In [55]:
y = "21 year old"
def myfunc():
    x="adnan"
    print("my name is " + x )
myfunc()
print("i am " + y)

my name is adnan
i am 21 year old

In [14]:
x ="awesome"

def myfunc():
    #global x
    #x="fantastic"
     print("python is " + x)
myfunc()

python is awesome

# Date Type

In [29]:
a="hellow,word"
b=12345
c= 1.1
d=["apple","banana","cherry"]
e=("apple, banana", "cherry")
f={"name" : "adnan" , "age" : "21"}
g={"apple","banana","cherry"}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [32]:
#convert from int to float
x =float(2)
#convert form float to int
y=int(2.2)
#convert form int to complex
z=complex(y)
print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

2.0
2
(2+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [94]:
txt="my name is adnan"
print("asad" in txt)

False

In [41]:
for x in "adnan":
  print(x)

a
d
n
a
n

In [50]:
x ="cherry"
print(len(x))

6

In [48]:
y="Adnan"
print(y[0])
print(y[1])
print(y[2])
print(y[3])
print(y[4])

A
d
n
a
n

# python String

In [55]:
txt="my name is adnan"
print("asad" in txt)

False

In [57]:
txt="my name is adnan"
if "adnan" in txt:
    print("yes, 'adnan' is present")

yes, 'adnan' is present

In [60]:
txt="my name is adnan"
print("asad" not in txt)

True

In [65]:
txt="my name is adnan"
if "asad"not in txt:
    print("No,'asad'is not present.")

No,'asad'is not present.

# Slicing String

In [77]:
x="my, name is adnan"
print(x[0:3])
print(x[4:9])
print(x[8:11])
print(x[11:17])

my,
name
 is
 adnan

In [113]:
list=("apple" , "banana" , "cherry" )

print(list[0:1])
print(list[1])

('apple',)
banana

# Nagative Indexing

In [79]:
a="Hello, world!"
print(a[-6:-1])

world

# upper case

In [18]:
a="Hello, world"
print(a.upper())
b="my name is adnan"
print(b.upper())

HELLO, WORLD
MY NAME IS ADNAN

# lower case

In [20]:
x="HELLO, WORLD"
print(x.lower())
y="MY NAME IS ADNAN"
print(y.lower())

hello, world
my name is adnan

In [26]:
a="Hello, world!" 
print(a[-1:-6])

# Replace string

In [38]:
a="my name is xdnan"
print(a.replace("x","A"))

my name is Adnan

In [42]:
x="my name is xsad"
print(x.replace("x","A"))

my name is Asad

# convert

In [50]:
x=int(15.5)
print(x)

15

# split string

In [52]:
x="hello , world"
y=x.split(",")
print(y)

['hello ', ' world']

In [54]:
a="my name is adnan"
b=a.split(",")
print(b)

['my name is adnan']

# string concatination

In [70]:
x="adnan"
y="shaikh"
z= x+" "+y
print(z)

adnan shaikh

# format string

In [76]:
x=97
txt="Adnan{}"
print(txt.format(x))

adnan97

In [91]:
z=7
txt="CR{}"
print(txt.format(z))

CR7

In [97]:
x=3
y=325
z=200
txt="I went {} pieces of item {} for {} dollar."
print(txt.format(x, y, z))

I went 3 pieces of item 325 for 200 dollar.

In [88]:
a=21
txt="my name is adnan i am {} year old."
print(txt.format(a))

my name is adnan i am 21 year old.

In [90]:
a=10
txt="LionelMessi{}"
print(txt.format(a))

LionelMessi10

In [95]:
x=21
txt="i am {} old."
print(txt.format(x))

i am 21 old.

In [99]:
a=5
b=150
c=220
txt="i went to pay {2} doller for {1} piece of item {0}"
print(txt.format(a, b, c))

i went to pay 220 doller for 150 piece of item 5

In [116]:
x="'Ma''am i am string'"
print(x)

'Ma''am i am string'

# escape character

In [177]:
txt="This is heading"
print(txt)

This is heading

# string capitalize method

In [137]:
a="my name is ADNAN"
print(a.capitalize())

My name is adnan

In [144]:
txt="my name is Adnan"
a=txt.capitalize()
print(a)

My name is adnan

# string casefold method

In [148]:
txt:"MY Name Is Asad"
x=txt.casefold()
print(x)

my name is adnan

# string center method

In [149]:
a="adnan"
x= a.center(50)
print(x)

                      adnan

# string count method

In [160]:
a="qwertifffffforpdasdfjlasdffgfghjlk"
z= a.count("g")
print(z)

2

# boolean value

In [16]:
x= 1000
y=500
if y > x:
    print("x is greater then y")
else:
    print("y is not  greater then x")

y is not  greater then x

In [31]:
x=(bool({}))
y=(bool(93))
print(x)
print(y)

False
True

In [32]:
10**20

100000000000000000000

In [35]:
x=4
y=6
print(y**x)

1296

In [42]:
x=5
X=x//3
print(X)

1

In [54]:
x=6
# = assingment operator
y=6
# == comparison operator
print(x==y)

True

In [55]:
x=6
# =h assingment operator
y=6
# == comparison operator
print(x==y)

True

In [59]:
x=8
print(x > 5)
print(x < 6)

True
False

In [88]:
x=5
print(not(x > 4  or x < 6))

False

In [86]:
#(is)Returns True if both variables are the same object
a=["apple","banana","cherry" ]
b=["apple","banana","cherry" ]
z=a
print(z is a)
#return True because z is the same object as x
print(a is b)
#return False because x is not the same object as y, even they have the same content
print(a==b)
#to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [91]:
x=15
y=15
print(x == y)

True

# tuple : round brackets.

In [94]:
list=tuple(("apple", "banana","cherry"))
print(len(list))

3

In [97]:
l=("apple""banana""cherry")
print(type(l))

<class 'str'>

In [98]:
x=("apple","banana","cherry")
print(x[2])

cherry

In [99]:
y=("apple" , "banana","cherry")
print(y[-3])

apple

In [104]:
list=("apple","banana","cherry",55,5.5,)
print(list[4])

5.5

In [106]:
list=("apple","bannana","cherry","fruits","adnan","moin")
print(list[-4:-1])

('cherry', 'fruits', 'adnan')

In [107]:
list=("apple","banana","cherry")
if "apple" in list:
    print("yes 'apple' is in list")

yes 'apple' is in list

# change list item

In [3]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [2]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [10]:
x=("apple","banana","cherry")
a=("orange",)
x+=a
print(x)

('apple', 'banana', 'cherry', 'orange')

# add items in list

In [12]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [20]:
l=("apple","banana","cherry")
x=("orange",)
l +=x
print(l)

('apple', 'banana', 'cherry', 'orange')

In [6]:
y=("apple","banana","mango")
x=("cherry",)
y +=x
print(y)

('apple', 'banana', 'mango', 'cherry')

In [19]:
a=("apple","banana","mango","cherry","kiwi")
x=list(a)
x.append("orange")
a=tuple(x)
print(a)

('apple', 'banana', 'mango', 'cherry', 'kiwi', 'orange')

In [22]:
x=("apple","banana","cherry","mango")
y=list(x)
y.append("orange")
x=tuple(y)
print(x)

('apple', 'banana', 'cherry', 'mango', 'orange')

In [15]:
x=("apple","banana","cherry")
a=list(x)
a.append("adnan")
print(a)

['apple', 'banana', 'cherry', 'adnan']

In [23]:
z=("adnan","asad","moin")
y=list(z)
y.append("akbar")
z=set(y)
print(z)

{'akbar', 'moin', 'adnan', 'asad'}

# unpacked list used *asterisk

In [26]:
list=("apple","banana","cherry","kiwi",97)
(x, y, *z)=list
print(x)
print(y)
print(z)

apple
banana
['cherry', 'kiwi', 97]

In [27]:
a=("apple","banana","kiwi","orange","adnan")
(z,*y,c)=a
print(z)
print(y)
print(c)

apple
['banana', 'kiwi', 'orange']
adnan

In [40]:
a=7
txt="harry {}"
print(txt.format(a))

harry 7

In [ ]:
print("Enter first number:")
n1=input()
print("Enter second number:")
n2=input()
print("total", int(n1)* int(n2))

Enter first number:

In [6]:
thistuple = ("apple", "banana",'a', "cherry","kiwi","adnan")
(*x,y)=thistuple
print(x)
print(y)

['apple', 'banana', 'a', 'cherry', 'kiwi']
adnan

# loop tuple

In [4]:
thistuple=("apple","banana","cherry")
for i in range(len(thistuple)):
   print(thistuple[i])

apple
banana
cherry

In [15]:
a=("adnan","bnanan","kiwi")
for z in a:
    print(z)

adnan
bnanan
kiwi

In [6]:
a=range(5)
for i in a:
    print(i)

0
1
2
3
4

In [13]:
x=range(8)
for i in x: 
    print(i)

0
1
2
3
4
5
6
7

In [17]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [29]:
#len(13)
#index(12)
a="hello , world"
y=len(a)
for i in a:
   print(a)

hello , world
hello , world
hello , world
hello , world
hello , world
hello , world
hello , world
hello , world
hello , world
hello , world
hello , world
hello , world
hello , world

In [7]:
list1=("apple","banana","cherry","kiwi","adnan")
list2=(1,2,4,3,5,4,3,)

list3= list1 + list2
print(list3)

('apple', 'banana', 'cherry', 'kiwi', 'adnan', 1, 2, 4, 3, 5, 4, 3)

In [3]:
age=2

if age>=18 :
    print("You are selected.")

elif age < 18 and age > 3:
    print("Sorry you are not selected")
    
else: 
    print("Error")

Error

In [21]:
l=("adnan")
for x in l:
    print(x)

a
d
n
a
n

In [36]:
a=range(10,0,-2)
for x in a: 
    print(x)

10
8
6
4
2

In [33]:
x=("adnan")
n=len(x)
for i in range(n):
    print(i,"=", x[i] )

0 = a
1 = d
2 = n
3 = a
4 = n

In [44]:
a=200
b=500

if a > b:
    print("a is  greater then b")

elif a == b:
    print("a and b are equal")
    
else :
    print("b is greater then a")

b is greater then a

In [48]:
a=("hello world")
print(a.capitalize())

Hello world

In [56]:
a="hello,my,name,is,adnan"
x=a.split(",")
print(x)

['hello', 'my', 'name', 'is', 'adnan']

In [67]:
a="hello world"
print(a[-1::-5])

d h

# to demonstrate any 10 function(method) of string class.

In [71]:
a="hello world"
print(a.upper())

HELLO WORLD

In [73]:
x="HELLO WORLD"
print(x.casefold())

hello world

In [76]:
x="Adnan"
print(x.center(20))

       Adnan

In [80]:
a="qwertioppieutkdjfskjgfdhsdk"
print(a.count("k"))

3

In [81]:
x="ADNAN"
print(x.lower())

adnan

In [82]:
a=10
b=20
c=512
txt="I want {} pieces of items {} for {} dollars."
print(txt.format(a,b,c))

I want 10 pieces of items 20 for 512 dollars.

In [95]:
a=[97,98,99]
a.append(100)
print(a)

[97, 98, 99, 100]

In [93]:
x=[35,50,60]
x.insert(1,40)
print(x)

[35, 40, 50, 60]

In [1]:
a="adnan"
x=sorted(a)
print(x)

['a', 'a', 'd', 'n', 'n']

In [112]:
a="malayalam"
b=a[0::]
c=a[::-1]
if b ==c :
    print("is paliandrom")
else :
    print("is not paliandrom")

is paliandrom

In [ ]:
first=int(input("Enter first number:"))
operater=input("Select operater (+,-,*,/,%):")
second=int(input("Enter second number:"))

if operater == "+":
    print(first+second)
elif operater == "-":
    print(first-second)
elif operater == "*":
    print(first*second)
elif operater == "/":
    print(first-second)
elif operater == "%" :
    print(first%second)
else:
    print("Not Founded")

In [ ]:
age=2

if age >= 18:
    print("congratulation are you selected.")
elif age < 18 and age > 3: 
    print("so sorry you are not selected.")
else:
    print("Thankyou")

In [1]:
a="adnanmoinasadabdul"
print(a[2:12:5])

nnons